
.dxPivotGrid_CTNAttribute, .dxPivotGrid_CTNCalculatedMeasure, .dxPivotGrid_CTNDimension, .dxPivotGrid_CTNFolderClosed, .dxPivotGrid_CTNFolderOpen, .dxPivotGrid_CTNHierarchy, .dxPivotGrid_CTNKpi, .dxPivotGrid_CTNMeasure, .dxPivotGrid_FLBottomPanelOnly1by4_pydc, .dxPivotGrid_FLBottomPanelOnly2by2_pydc, .dxPivotGrid_FLButton_pydc, .dxPivotGrid_FLColumnAreaHeaders_pydc, .dxPivotGrid_FLDataAreaHeaders_pydc, .dxPivotGrid_FLFieldList_pydc, .dxPivotGrid_FLFilterAreaHeaders_pydc, .dxPivotGrid_FLRowAreaHeaders_pydc, .dxPivotGrid_FLStackedDefault_pydc, .dxPivotGrid_FLStackedSideBySide_pydc, .dxPivotGrid_FLTopPanelOnly_pydc, .dxPivotGrid_pgCollapsedButton_pydc, .dxPivotGrid_pgCustomizationFormCloseButton_pydc, .dxPivotGrid_pgDataHeaders_pydc, .dxPivotGrid_pgDragArrowDown_pydc, .dxPivotGrid_pgDragArrowLeft_pydc, .dxPivotGrid_pgDragArrowRight_pydc, .dxPivotGrid_pgDragArrowUp_pydc, .dxPivotGrid_pgDragHideField_pydc, .dxPivotGrid_pgExpandedButton_pydc, .dxPivotGrid_pgFilterButton_pydc, .dxPivotGrid_pgFilterButtonActive_pydc, .dxPivotGrid_pgFilterResizer_pydc, .dxPivotGrid_pgGroupSeparator_pydc, .dxPivotGrid_pgPrefilterButton_pydc, .dxPivotGrid_pgSortByColumn_pydc, .dxPivotGrid_pgSortDownButton_pydc, .dxPivotGrid_pgSortUpButton_pydc { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxPivotGrid_CTNAttribute { background-position: -284px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNCalculatedMeasure { background-position: -428px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNDimension { background-position: -392px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNFolderClosed { background-position: -374px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNFolderOpen { background-position: -356px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNHierarchy { background-position: -338px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNKpi { background-position: -320px 0px; width: 16px; height: 16px } 
.dxPivotGrid_CTNMeasure { background-position: -302px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLBottomPanelOnly1by4_pydc { background-position: -102px 0px; width: 32px; height: 32px } 
.dxPivotGrid_FLBottomPanelOnly2by2_pydc { background-position: -136px 0px; width: 32px; height: 32px } 
.dxPivotGrid_FLButton_pydc { background-position: -410px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLColumnAreaHeaders_pydc { background-position: -266px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLDataAreaHeaders_pydc { background-position: -248px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLFieldList_pydc { background-position: -230px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLFilterAreaHeaders_pydc { background-position: -212px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLRowAreaHeaders_pydc { background-position: -194px 0px; width: 16px; height: 16px } 
.dxPivotGrid_FLStackedDefault_pydc { background-position: -68px 0px; width: 32px; height: 32px } 
.dxPivotGrid_FLStackedSideBySide_pydc { background-position: 0px 0px; width: 32px; height: 32px } 
.dxPivotGrid_FLTopPanelOnly_pydc { background-position: -34px 0px; width: 32px; height: 32px } 
.dxPivotGrid_pgCollapsedButton_pydc { background-position: -523px -19px; width: 13px; height: 13px } 
.dxPivotGrid_pgCustomizationFormCloseButton_pydc { background-position: -446px 0px; width: 29px; height: 15px } 
.dxPivotGrid_pgDataHeaders_pydc { background-position: -479px -20px; width: 12px; height: 12px } 
.dxPivotGrid_pgDragArrowDown_pydc { background-position: -455px -23px; width: 11px; height: 9px } 
.dxPivotGrid_pgDragArrowLeft_pydc { background-position: -526px 0px; width: 9px; height: 11px } 
.dxPivotGrid_pgDragArrowRight_pydc { background-position: -468px -21px; width: 9px; height: 11px } 
.dxPivotGrid_pgDragArrowUp_pydc { background-position: -442px -23px; width: 11px; height: 9px } 
.dxPivotGrid_pgDragHideField_pydc { background-position: -170px 0px; width: 22px; height: 22px } 
.dxPivotGrid_pgExpandedButton_pydc { background-position: -493px -19px; width: 13px; height: 13px } 
.dxPivotGrid_pgFilterButton_pydc { background-position: -477px 0px; width: 15px; height: 15px } 
.dxPivotGrid_pgFilterButtonActive_pydc { background-position: -494px 0px; width: 15px; height: 15px } 
.dxPivotGrid_pgFilterResizer_pydc { background-position: -508px -19px; width: 13px; height: 13px } 
.dxPivotGrid_pgGroupSeparator_pydc { background-position: -404px -31px; width: 5px; height: 1px } 
.dxPivotGrid_pgPrefilterButton_pydc { background-position: -511px 0px; width: 13px; height: 13px } 
.dxPivotGrid_pgSortByColumn_pydc { background-position: -429px -26px; width: 11px; height: 6px } 
.dxPivotGrid_pgSortDownButton_pydc { background-position: -420px -27px; width: 7px; height: 5px } 
.dxPivotGrid_pgSortUpButton_pydc { background-position: -411px -27px; width: 7px; height: 5px } 
.dxPivotGrid_pgCustomizationFormCloseButton_pydc,
.dxPivotGrid_FLButton_pydc
{
    display:block;
}


