/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
.dxpgControl_pydc, .dxpgCustForm_pydc
{
    color: #201f35;
    font: 11px Verdana, Geneva, sans-serif;
    border: 1px solid #9da0aa;
    background-color: white;
}
.dxpgContainerCell_pydc
{
    vertical-align: top;
}
.dxpgMainTable_pydc
{
    border-width: 0;
    border-collapse: separate;
    width: 100%;
    text-align: left;
}
div.dxpgMainTable_pydc
{
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.dxpgMainTable_pydc caption
{
    font-weight: normal;
    padding: 3px 3px 5px;
    text-align: center;
    background: #f2f3f4 url('TitleBack.png') repeat-x left top;
    color: #201f35;
    border-bottom: 1px solid #9da0aa;
}
.dxpgHeader_pydc
{
    border-width: 0;
    color: #201f35;
    background: #f2f3f4 url('HeaderBack.png') repeat-x left top;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
}
.dxpgHeader_pydc a
{
    color: #1b3f91;
}
.dxpgHeaderTable_pydc
{
    border: 1px solid #9da0aa;
    width: 100%;
}
.dxpgMSDraggable .dxpgHeaderTable_pydc,
.dxpgCustFieldsDiv_pydc .dxpgHeaderTable_pydc
{
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.dxpgHeaderGroupButton_pydc
{
    padding-left: 4px;
    vertical-align: middle;
}
.dxpgHeaderText_pydc
{
    padding: 3px 6px;
}
.dxpgHeaderSort_pydc
{
    padding: 0 4px 0 0;
    vertical-align: middle;
}
.dxpgHeaderFilter_pydc
{
    padding: 2px 2px 2px 0;
    vertical-align: middle;
}
.dxpgHeaderHover_pydc
{
    background: #f8f8f9 url('HeaderHoverBack.png') repeat-x left top;
}
.dxpgArea_pydc, .dxpgArea_pydc table
{
    color: #201f35;
}
.dxpgArea_pydc
{
    border-width: 1px;
    border-color: #bfc0c9;
    border-style: none;
    background-color: #ebecef;
}
.dxpgColumnArea_pydc
{
    border-bottom-style: solid;
}
.dxpgFilterArea_pydc
{
    color: #201f35;
    background: #e1e2e7;
    border-bottom-style: solid;
}
.dxpgEmptyArea_pydc
{
    cursor: default;
    padding: 6px;
}
.dxpgColumnFieldValue_pydc
{
    color: #201f35;
    background: #f5f5f6;
    border: 1px solid #bfc0c9;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    padding: 4px 6px;
    font-weight: normal;
    text-align: left;
}
.dxpgColumnTotalFieldValue_pydc
{
    background: #e7e5ed;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
}
.dxpgColumnGrandTotalFieldValue_pydc
{
    background: #e7e5ed;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
}
.dxpgRowFieldValue_pydc
{
    color: #201f35;
    background: #f5f5f6;
    border: 1px solid #bfc0c9;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    padding: 3px 6px;
    font-weight: normal;
    text-align: left;
}
.dxpgRowTotalFieldValue_pydc
{
    background: #e7e5ed;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
}
.dxpgRowTreeFieldValue_pydc
{
    padding: 0;
    font-size: 0;
}
.dxpgRowGrandTotalFieldValue_pydc
{
    background: #e7e5ed;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dxpgCollapsedButton_pydc
{
    vertical-align: -2px;
    border: 0;
    margin-right: 5px;
}
.dxpgSortByColumnImage_pydc
{
    vertical-align: -1px;
    border: 0;
    margin-left: 5px;
}
.dxpgCell_pydc
{
    text-align: right;
    background-color: White;
    border-color: #d9dae0;
    border-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    border-right-style: none;
    padding: 3px 4px;
    white-space: nowrap;
}
.dxpgKPICell_pydc
{
    text-align: center;
    vertical-align: middle;
}
.dxpgTotalCell_pydc
{
    background-color: #faf9fb;
}
.dxpgGrandTotalCell_pydc
{
    background-color: #f1f4f9;
}
.dxpgCellsArea_pydc
{
    background-color: White;
}
.dxpgRowFieldValuesArea_pydc
{
    background-color: #f5f5f6;
}
.dxpgColumnFieldValuesArea_pydc
{
    background-color: #f5f5f6;
}
.dxpgCellsSCContentTable_pydc
{
    border-color: #d9dae0;
    border-width: 1px;
    border-bottom-style: solid;
}
.dxpgRowSCContentTable_pydc
{
    border-color: #bfc0c9;
    border-width: 1px;
    border-bottom-style: solid;
}
.dxpgColumnSCContentTable_pydc
{
    border-color: #bfc0c9;
    border-width: 1px;
    border-right-style: solid;
}
.dxpgFilterItem_pydc
{
    white-space: nowrap;
}
.dxpgFilterButton_pydc
{
    padding: 2px 6px;
}
.dxpgTopPager_pydc,
.dxpgBottomPager_pydc
{
    background: #f1f2f6 url('PagerBack.png') repeat-x left top;
    border-color: #9da0aa;
    border-style: solid;
}
.dxpgTopPager_pydc
{
    border-width: 0 0 1px 0;
}
.dxpgBottomPager_pydc
{
    border-width: 1px 0 0 0;
}
.dxpgTopPager_pydc,
.dxpgBottomPager_pydc
{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.dxpgCustomizationFieldsHeader_pydc
{
    color: #201f35;
}
.dxpgCustomizationFieldsContent_pydc
{
    padding: 0px !important;
}
.dxpgDataHeadersImage_pydc
{
    margin-right: 5px;
    vertical-align: -2px;
}
.dxpgPrefilterPanelContainer_pydc
{
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxpgPrefilterPanel_pydc
{
    border: none;
    background: #f9f9fc;
}
.dxpgPrefilterPanelLink_pydc
{
    color: #1b3f91;
    text-decoration: underline;
}
.dxpgPrefilterPanelCheckBoxCell_pydc
{
    padding: 0 3px;
    padding-right: 7px;
}
.dxpgPrefilterPanelImageCell_pydc
{
    padding: 0 3px;
    padding-right: 1px;
    cursor: pointer;
}
.dxpgPrefilterPanelExpressionCell_pydc
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell_pydc
{
    padding: 5px 6px 8px;
}
.dxpgFilterBuilderMainArea_pydc
{
    background: white;
    padding: 6px 2px;
}
.dxpgFilterBuilderButtonArea_pydc
{
    background: #ebecef;
    border-top: 1px solid #abacb9;
    padding: 6px;
    white-space: nowrap;
}
.dxpgGroupSeparator_pydc
{
    vertical-align: middle;
}
.dxpgCustFieldsFilterAreaHeaders_pydc,
.dxpgCustFieldsRowAreaHeaders_pydc,
.dxpgCustFieldsColumnAreaHeaders_pydc,
.dxpgCustFieldsDataAreaHeaders_pydc,
.BottomPanelOnly1by4 .dxpgFLFRDiv_pydc,
.BottomPanelOnly1by4 .dxpgFLCDDiv_pydc
{
    width: 100%;
    height: 50%;
}
.StackedDefault .dxpgCustFieldsFieldList_pydc
{
    height: 33%;
}
.StackedDefault .dxpgFLFRDiv_pydc
{
    width: 50%;
    height: 66%;
    float: left;
}
.StackedDefault .dxpgFLCDDiv_pydc
{
    width: 50%;
    height: 66%;
    float: right;
}
.StackedDefault .dxpgCustFieldsFilterAreaHeaders_pydc .dxpgFLTextDiv_pydc,
.StackedDefault .dxpgCustFieldsColumnAreaHeaders_pydc .dxpgFLTextDiv_pydc
{
    height: 47px;
}
.TopPanelOnly .dxpgCustFieldsFieldList_pydc
{
    width: 100%;
    height: 100%;
}
.TopPanelOnly .dxpgFLDefereDiv_pydc .dxeBase_pydc,
.TopPanelOnly .dxpgFLDefereDiv_pydc .dxpgFLDefereDB_pydc,
.BottomPanelOnly1by4 .dxpgCustFieldsFieldList_pydc,
.TopPanelOnly .dxpgFLFRDiv_pydc,
.TopPanelOnly .dxpgFLCDDiv_pydc,
.BottomPanelOnly2by2 .dxpgCustFieldsFieldList_pydc,
.TopPanelOnly .dxpgFLTextDiv_pydc div
{
    display: none;
}
.TopPanelOnly .dxpgFLTextDiv_pydc
{
    height: 10px;
}
.TopPanelOnly .dxpgFLDefereDiv_pydc
{
    height: 16px;
}
.BottomPanelOnly2by2 .dxpgFLFRDiv_pydc,
.StackedSideBySide .dxpgCustFieldsFieldList_pydc
{
    width: 50%;
    height: 100%;
    float: left;
}
.BottomPanelOnly2by2 .dxpgFLCDDiv_pydc
{
    width: 50%;
    height: 100%;
    float: right;
}
.StackedSideBySide .dxpgFLFRDiv_pydc,
.StackedSideBySide .dxpgFLCDDiv_pydc
{
    width: 50%;
    height: 50%;
    float: right;
}
.dxpgCustFields_pydc
{
    display: block;
    position: relative;
}
.dxpgFLListDiv_pydc > div
{
    border: 1px solid #9da0aa;
    position: relative;
    display: block;
    height: 100%;
    padding: 1px;
    background: White;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.dxpgFLListDiv_pydc > div > div
{
    position: relative;
    display: block;
    height: 100%;
    padding: 0px;
    background: White;
    overflow-x: hidden;
    overflow-y: auto;
}
.DragOver .dxpgFLListDiv_pydc > div
{
    background: #ffd324;
}
.dxpgFLListDiv_pydc
{
    padding: 0px 3px;
}
.dxpgFLButtonDiv_pydc .dxbButton_pydc div.dxb
{
    padding: 2px 8px 1px;
}
.dxpgFLButtonDiv_pydc .dxbButton_pydc div.dxbf
{
    border: 1px dotted Black;
    padding: 1px 7px 0px;
}
.dxpgFLTextDiv_pydc
{
    height: 28px;
}
.dxpgFLTextDiv_pydc div
{
    display: block;
    float: left;
    margin: -17px 0px 3px;
    left: 6px;
    top: 100%;
    position: relative;
}
.dxpgFLButtonDiv_pydc
{
    float: right;
    height: 28px;
    position: relative;
    z-index: 1;
}
.dxpgFLDefereDiv_pydc
{
    height: 46px;
}
.dxpgCustFieldsDiv_pydc
{
    clear: both;
    padding: 0px 9px;
}
.dxpgFLButton_pydc
{
    margin: 7px 12px 0px 0px;
    width: 40px;
    height: 23px;
}
.dxpgFLDefereDiv_pydc .dxeBase_pydc
{
    float: left;
    display: block;
    border-collapse: separate;
    padding: 13px 0px 0px 0px;
    margin-left: 8px;
}
.dxpgFLDefereDB_pydc
{
    float: right;
    display: block;
    margin: 12px 12px 0 0;
}
.dxpgFLDefereDiv_pydc .dxbButton_pydc div.dxb
{
    padding: 2px 14px;
}
.dxpgFLDefereDiv_pydc .dxbButton_pydc div.dxbf
{
    border: 1px dotted Black;
    padding: 1px 13px;
}
.dxpgFLListDiv_pydc table
{
    width: 100%;
    table-layout: fixed;
    overflow: visible;
}
.dxpgFLListDiv_pydc table table td
{
    overflow: hidden;
}
div.dxpgFLTextImgDiv_pydc
{
    display: block;
    height: 16px;
    width: 16px;
    margin: -18px 0px 3px 0px;
    left: 3px;
}
/*Loading Panel*/
.dxpgLoadingPanel_pydc
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #201f35;
    background-color: White;
    border: 1px solid #9da0aa;
}
.dxpgLoadingPanel_pydc td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 7px 10px;
}
.dxpgLoadingPanel_pydc .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
}
.dxpgVScrollBarAreaCell_pydc
{
    background-color: #f5f5f6;
    border-left: 1px solid #bfc0c9;
    border-bottom: 1px solid #bfc0c9;
}
.dxpgHScrollBarAreaCell_pydc
{
    background-color: #f5f5f6;
    border-top: 1px solid #bfc0c9;
    border-right: 1px solid #bfc0c9;
}
.dxpgScrollBarEdgeCell_pydc
{
    background-color: #f5f5f6;
    border-left: 1px solid #bfc0c9;
    border-top: 1px solid #bfc0c9;
}
