/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/*# --- ASPxMenu Lite skins for XAF --- #*/
.menuLinks_pydc, .menuLinks_pydc .dxm-item,
.menuLinks_pydc .dxm-hovered,
.menuLinks_pydc .dxm-disabled
{
    background: none !important;
    border-style: none !important;
}
.menuLinks_pydc .dxm-popOut
{
    border-style: none !important;
}
.menuLinks_pydc .dxm-item a.dx > span
{
    color: #201f35;
    text-decoration: underline !important;
}
.menuLinks_pydc .dxm-hovered a.dx > span
{
    color: #2C4D79 !important;
    text-decoration: underline !important;
}
.menuButtons_pydc .dxm-popOut
{
    padding: 6px 4px 6px !important;
}
.menuButtons_pydc .dxm-content
{
    padding: 2px 8px 1px 8px !important;
    height: 16px !important;
}
.menuButtons_pydc .dxm-item
{
    background: #ebedf2 url('../Editors/edtBtnBack.png') repeat-x left top !important;
    border: solid 1px #a9acb5 !important;
}
.menuButtons_pydc .dxm-item.dxm-hovered
{
    background: #dde6fe url('../Editors/edtBtnHBack.png') repeat-x left top !important;
}
.menuButtons_pydc, .menuButtons_pydc .dxm-tmpl
{
    color: #201f35;
    background: none !important;
}
.menuButtons_pydc .dxm-item.dxm-tmpl
{
    border-color: transparent !important;
}
.menuButtons_pydc .dxm-item.dxm-tmpl > *
{
    margin: -1px 0;
}
.menuButtons .dxm-item:not(.dxm-ami) .dxm-content
{
    /*# B254142 #*/
    min-width: 60px !important;
    text-align: center;
}
.dxmLite_pydc .menuLinks_pydc.dxm-horizontal .dxm-image-l .dxm-content.dxalink,
.dxmLite_pydc .menuLinks_pydc.dxm-horizontal .dxm-image-r .dxm-content.dxalink,
.dxmLite_pydc .menuLinks_pydc.dxm-horizontal .dxm-image-l .dxm-subMenu .dxm-content.dxalink,
.dxmLite_pydc .menuLinks_pydc.dxm-horizontal .dxm-image-r .dxm-subMenu .dxm-content.dxalink,
.dxmLite_pydc .menuLinks_pydc.dxm-horizontal .dxm-image-t .dxm-content.dxalink,
.dxmLite_pydc .menuLinks_pydc.dxm-horizontal .dxm-image-b .dxm-content.dxalink,
.dxmLite_pydc .menuLinks_pydc.dxm-horizontal .dxm-image-t .dxm-subMenu .dxm-content.dxalink,
.dxmLite_pydc .menuLinks_pydc.dxm-horizontal .dxm-image-b .dxm-subMenu .dxm-content.dxalink
{
    padding: 4px 4px 3px;
}
.menuLinks_pydc.dxm-horizontal.dxm-main,
.menuLinks_pydc.dxm-horizontal.dxm-main .dxm-item
{
    padding: 1px;
}
.dxmLite_pydc .dxm-main.menuButtons
{
    padding: 1px;
}
.menuLinks_pydc.dxm-horizontal .dxm-spacing
{
    width: 1px;
    min-width: 1px;
}
.LayoutViewMode .WebEditorCell span:empty:before
{
    content: "\200b";
}
/* Common */
body
{
    margin: 0;
    padding: 0;
    background-color: #E9E9E9;
    font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
}
body.dialog
{
    background-color: white;
}
.dxm-popup .TemplatedItem
{
    padding-left: 7px;
}
.ToggleNavigationActiveImage,
.ToggleNavigationImage
{
    margin-left: -15px;
    cursor: pointer;
}
.dxrpCollapseButton
{
    margin-right: 8px;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}
.CardGroupContent
{
    padding: 19px 30px 25px 30px;
    background-color: white;
}
.cgc-np
{
    padding: 0px;
}
table
{
    border-collapse: separate !important;
}
.xafCover
{
    background-color: #777777;
    opacity: 0.7;
}
.overflowHidden
{
    overflow: hidden;
}
.movedMenu
{
    top: 0px;
    position: fixed;
}
.movedInnerTable
{
    position: relative;
}
.GroupHeader
{
    font-size: 1.08em;
}
.dxrpHeader_pydc.GroupHeader.Label
{
    color: #848484;
    background-color: #F7F7F7;
    padding-left: 19px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.08em;
    border-bottom: 0px;
}
.Shadow
{
    border-bottom: 1px solid #BFBFBF;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
    position: fixed;
    top: 0px;
    left: 0px;
}
.white
{
    background-color: white;
}
.darkGray
{
    background-color: #E9E9E9;
}
.gray
{
    background-color: #F7F7F7;
}
.width100
{
    width: 100%;
}
.GridView
{
    width: 100%;
}
.FindGridView
{
    width: 100% !important;
}
.xafHidden
{
    display: none;
}
.xafBackLayer
{
    overflow: hidden;
}
.xafFrontLayer
{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow: auto;
}
.borderBottom
{
    border-bottom: 1px solid #c6c6c6;
}
.border
{
    border: 1px solid #c6c6c6;
}
.xafNavToggle
{
    vertical-align: top;
}
.disable-hover,
.disable-hover *
{
    pointer-events: none !important;
}
.viewCaption
{
    font-size: larger;
    padding-left: 20px;
}
.ViewImage
{
    padding-right: 20px;
}
.sizeLimit
{
    max-width: 1200px;
}
.xafAlignCenter
{
    margin: 0 auto;
}
.minHeight
{
    min-height: 60px;
}
.paddings
{
    padding-left: 40px;
    padding-right: 40px;
}
.headerTable
{
    min-height: 61px;
}
.dialog.headerTable
{
    top: 0px;
    z-index: 1000;
}
.vertical.headerTable
{
    white-space: nowrap;
    padding-left: 38px;
    padding-right: 38px;
    margin: 0px;
}
.xafNavHiddenManually
{
    display: none;
}
.xafFooter
{
    color: #b8b8b8;
    background-color: #4a4a4a;
    padding: 6px 0px;
}
.xafNavVisible
{
    display: none;
}
@media all and (max-width: 999.98px)
{
    .xafNavHidden
    {
        display: none;
    }
    .xafNavVisible
    {
        display: block;
    }
    .xafFooter
    {
        display: none;
    }
    .xafNavToggleConteiner
    {
        display: table-cell;
    }
}
.xafNavVisibleManually
{
    display: block;
}
.xafNav
{
    float: left;
    z-index: 1000;
}
.FindDialogActionsOverflow
{
    background-color: white;
    width: 100%;
}
.searchDialogContent
{
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    padding-left: 30px;
    padding-right: 30px;
}
.searchDialogContent .NestedFrame .Item.ListViewItem
{
    padding-top: 0px;
}
.searchDialogContent .right
{
    right: 20px;
}
.searchDialogContent .left
{
    left: 20px;
}
.searchDialogContent .bottom
{
    position: fixed;
    bottom: 0px;
    padding-bottom: 20px;
}
.searchDialogContent .search ul,
.searchDialogContent .search .TemplatedItem,
.searchDialogContent .search .TemplatedItem .dxeButtonEdit_pydc
{
    width: 100% !important;
}
.searchDialogContent .searchViewCaption
{
    font-size: 21px;
    padding-bottom: 20px;
}
.LogonContent
{
    padding: 50px 75px;
    background-color: white;
}
.LogonMainTable
{
    border: 1px solid #d4d4d4;
    margin: 0 auto;
}
.ErrorMessage
{
    background-color: #ffedf0;
    color: #D33751;
    padding: 24px 75px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid #c6c6c6;
    margin-bottom: 20px;
    word-wrap: break-word;
    table-layout: fixed;
}
.ErrorMessage.WarningMessage
{
    background-color: #FFF0B6;
    color: #EB7F00;
    border: 1px solid #DFC45A;
}
.dialog .ErrorInfo
{
    padding-left: 30px;
    padding-right: 30px;
}
.LogonContentWidth
{
    width: 470px;
}
.StaticText
{
    color: #9a9a9a;
}
.errorIcon
{
    padding-left: 8px;
    padding-right: 8px;
}
.height100
{
    height: 100%;
}
.posRelative
{
    position: relative;
}
.ValidationFailed td.dxic,
.ValidationFailed td.dxic > input,
.ValidationFailed td textarea,
.ValidationFailed .dxeButton
{
    background-color: #FFEDF0 !important;
}
.ValidationFailed.ValidationWarning td.dxic,
.ValidationFailed.ValidationInformation td.dxic,
.ValidationFailed.ValidationWarning td.dxic > input,
.ValidationFailed.ValidationInformation td.dxic > input,
.ValidationFailed.ValidationWarning td textarea,
.ValidationFailed.ValidationInformation td textarea,
.ValidationFailed.ValidationWarning .dxeButton,
.ValidationFailed.ValidationInformation .dxeButton
{
    background-color: #FFF0B6 !important;
}
.ValidationFailed .dxeErrorCell_pydc.dxeErrorFrame_pydc
{
    padding-right: 5px;
    padding-bottom: 1px;
}
.dxGridView_gvCellError_pydc.xafGridCellError
{
    background-image: none !important;
}
.WebEditorCell .dxeErrorCell_pydc.dxeErrorFrame_pydc.dxeErrorFrameSys .dxEditors_edtError_pydc.XafInplaceValidationErrorIcon
{
    background-image: none !important;
    height: 16px;
    width: 16px;
    margin: 0;
}
.GroupContent.Adaptivity.validationImage,
.validationImage
{
    width: 50px !important;
    display: table-cell;
}
.validationImage img
{
    width: 48px;
    height: 48px;
}
.validationText
{
    width: 90% !important;
    padding-top: 5px;
    display: table-cell;
    vertical-align: top;
}
.parameterlessLogonGroup .validationText
{
    width: 83% !important;
}
.validationTextValid
{
    padding-top: 10px;
}
.Item.validationText
{
    padding-left: 11px;
}
.validationText .StaticText, .validationTextValid .StaticText
{
    color: #4a4a4a;
}
.LayoutTabContainer .GroupHeader .Label
{
    padding-left: 0px;
}
.LayoutTabContainer .GroupHeader .Image
{
    padding-right: 19px;
    padding-left: 0px;
}
.LayoutTabContainer .GroupHeader
{
    margin: 25px 0px 10px;
}
.LayoutTabContainer .GroupHeader:first-child
{
    margin: 0px 0px 10px;
}
/*# ActionContainerHolder #*/
.ACH
{
    padding-left: 4px;
}
.ACHOC
{
    padding-left: 0px;
}
.dialogContent .ACH
{
    margin-right: 31px;
}
/*# FileDataEdit #*/
.XafFileDataAnchor
{
    white-space: nowrap;
    margin-right: 5px;
}
/*# ASPxSchedulerListEditor #*/
.dateNavigatorIndent
{
    margin-bottom: 20px;
}
/*#ViewCaptionControl#*/
.XafVCap-First
{
    font-size: 14px;
    color: #848484;
    display: block;
    padding-top: 5px;
    margin-bottom: -5px;
}
.XafVCap-Second
{
    display: block;
    font-size: x-large;
    color: #4a4a4a;
    white-space: normal;
}
.MainMenuTruncateCaption
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*#xafHeaderMenu#*/
.xafHeaderMenu .menuLinks_XafTheme .dxm-item.accountItem.dropDownSecurity.dxm-subMenu > .dxm-popOut
{
    display: none !important;
    padding: 0px !important;
    height: 0px !important;
}
.xafHeaderMenu .menuLinks_XafTheme .dxm-item.accountItem.dropDownSecurity.dxm-subMenu > .dxm-content span
{
    text-decoration: underline !important;
    padding-left: 10px;
}
.xafHeaderMenu .menuLinks_XafTheme .dxm-item.accountItem.dropDownSecurity.dxm-subMenu > .dxm-image.dx-vam
{
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    height: 24px;
    width: 24px;
    padding-left: 0px;
}
.xafHeaderMenu .dxmLite_XafTheme .dxm-popup .dxm-popOut
{
    padding-top: 6px;
    padding-bottom: 5px;
}
.xafHeaderMenu .dxmLite_XafTheme.dxm-ltr .dxm-popup .dxm-image
{
    margin-right: 4px;
}
.xafHeaderMenu .menuLinks_XafTheme .dxm-content
{
    padding: 4px 1px 4px 2px !important;
}
.xafHeaderMenu .menuLinks.dxm-horizontal.dxmtb .dxm-item.dxm-hovered
{
    background: none !important;
    border-color: transparent !important;
}
.xafHeaderMenu .menuLinks.dxm-horizontal.dxmtb .dxm-item.dxm-hovered .dx-vam
{
    text-decoration: none !important;
}
/*#NestedFrame#*/
.nf_leftMenu
{
    float: left;
}
.nf_rightMenu
{
    width: 85%;
    float: right;
}
.nf_rightMenu_AC
{
    float: right;
    padding: 3px 5px;
}
.nf_leftMenu_AC
{
    float: left;
    padding: 3px 5px;
}
/*# T378858 #*/
.cgc-np .NestedFrame .dxAC,
.dxtc-content.TabControlContent .NestedFrame .dxAC,
.DashboardView .NestedFrame .dxAC
{
    border: none;
}
.dialogContent .dxAC .dxgvEmptyDataRow_pydc td.dxgv,
.dxtc-content.TabControlContent .NestedFrame .dxgvEmptyDataRow_pydc td.dxgv,
.dialogContent .dxtc-content.TabControlContent .NestedFrame .dxAC .dxgvEmptyDataRow_pydc td.dxgv
{
    border-bottom: 0 !important;
}
.dialogContent .NestedFrame .dxAC .dxgvEmptyDataRow_pydc td.dxgv,
.NestedFrame .dxgvEmptyDataRow_pydc td.dxgv
{
    border-bottom: 1px Solid #c6c6c6 !important;
}
/*#end NestedFrame#*/
.dxbButtonHover_pydc
{
    /*# T323156 #*/
    background: #F0F0F0 !important;
    border: 1px solid #c6c6c6 !important;
}
.xafChartToolBar td
{
    padding: 5px;
}
/*# T329842 #*/
.XafTreeViewNavigationNewStyle.dxtvControl_pydc.TreeViewNavControl .dxtv-nd
{
    text-wrap: normal;
    padding-bottom: 2px !important;
}
.XafTreeViewNavigationNewStyle.dxtvControl_pydc.TreeViewNavControl > div > ul
{
    width: 289px;
}
.XafTreeViewNavigationNewStyle.dxtvControl_pydc.TreeViewNavControl > div > ul > li
{
    padding: 0 4px;
}
/*# Tree List node images #*/
.XafTreeNode .ImageCell .dxeImage
{
    padding-right: 10px;
    padding-top: 5px;
}
/*# T389724 Grid ContextMenu #*/
.GridView .dxmLite_pydc.dxm-ltr .dxgvContextMenu_pydc .dxm-separator
{
    display: block;
}
.GridView .dxmLite_pydc.dxm-ltr .dxgvContextMenu_pydc .dxm-item
{
    padding-bottom: 0px;
    padding-top: 0px;
}
.GridView .dxmLite_pydc.dxm-ltr .dxgvContextMenu_pydc .dxm-item.dxm-noImage .dxm-content.dxm-hasText
{
    padding-left: 5px !important;
}
.GridView .dxmLite_pydc.dxm-ltr .dxgvContextMenu_pydc .dxm-content .dxm-image.dxWeb_mSubMenuItem_pydc
{
    margin-right: 11px;
}
.GridView .dxmLite_pydc.dxm-ltr .dxgvContextMenu_pydc .dxm-content .dxm-image.dxWeb_mSubMenuItem_pydc.dxWeb_mSubMenuItemChecked_pydc
{
    margin-right: 9px;
}
/*# T389388 TreeList double borders on touch devices #*/
.TreeList .dxAC
{
    border-right: 0;
    border-left: 0;
}
.Layout .ACH .dxmLite_pydc.dxm-ltr .dxm-item
{
    margin-bottom: 0px;
    margin-right: 6px;
    margin-top: 6px;
}
.Layout .ACH .dxmLite_pydc.dxm-ltr .dxm-popup .dxm-item
{
    margin-right: 0px;
    margin-top: 0px;
}
.Layout .ACH .dxmLite_pydc .dxm-popup .dxm-popOut
{
    padding-top: 4px;
    padding-bottom: 0px;
}
.Layout .ACH .dxmLite_pydc.dxm-ltr .dxm-spacing
{
    display: none;
}
.Layout .ACH .dxmLite_pydc.dxm-ltr .dxm-horizontal.dxm-noWrap > ul > li
{
    float: left !important;
}
/*#T409072 - Ribbon in XAF#*/
.WebEditorCell .dxrControl_pydc .dxr-blRegItems .dxr-item
{
    overflow: visible;
}
.WebEditorCell .dxrControl_pydc .dxr-item.dxr-edtItem .dxeButtonEditButton_pydc
{
    padding: 3px 3px 1px 4px;
}
.WebEditorCell .dxrControl_pydc .dxr-item.dxr-edtItem .dxeButtonEdit_pydc td.dxic
{
    padding: 0 2px 0 7px !important;
}
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtcLite_pydc.dxtc-top .dxtc-tab,
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtcLite_pydc.dxtc-top .dxtc-leftIndent,
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtcLite_pydc.dxtc-top .dxtc-spacer,
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtcLite_pydc.dxtc-top .dxtc-rightIndent,
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtcLite_pydc.dxtc-top .dxtc-sbIndent,
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtcLite_pydc.dxtc-top .dxtc-sbSpacer
{
    padding-top: 4px;
}
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxr-item.dxr-edtItem .dxeBase_pydc .dxichCellSys,
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxr-item.dxr-edtItem .dxeBase_pydc.dxichCellSys
{
    padding: 0px 3px 0px;
}
.WebEditorCell .dxrControl_pydc .dxr-buttonItem,
.WebEditorCell .dxrControl_pydc .dxr-grExpBtn
{
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtcLite_pydc > .dxtc-stripContainer .dxtc-spacer
{
    width: 0px;
}
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtcLite_pydc .dxtc-tab.dxtc-lead.dxtc-psi
{
    border-left-width: 1px !important;
}
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtc-sbIndent,
.LayoutTabbedGroupContainer .WebEditorCell .dxrControl_pydc .dxtc-leftIndent
{
    display: none;
}
.WebEditorCell .dxrControl_pydc .dxtcLite_pydc.dxtc-top > ul
{
    border: 0;
}
.WebEditorCell .dxrControl_pydc .dxr-blRegItems .dxr-item.dxr-itemHover.dxr-ddMode .dxr-label .dxr-popOut,
.WebEditorCell .dxrControl_pydc .dxr-blHorItems .dxr-item.dxr-itemHover.dxr-ddMode .dxr-label .dxr-popOut
{
    border-left-color: transparent;
}
/*# T390761 #*/
.searchDialogContent .search .TemplatedItem .dxeButtonEdit_pydc
{
    border-radius: 0px;
}
.searchDialogContent .dxmLite_pydc .dxm-tmpl td.dxic > input
{
    padding-top: 4px !important;
    padding-bottom: 3px !important;
}
.searchDialogContent .dxm-horizontal .dxm-spacing
{
    padding-left: 10px;
}
.PopupSizeCalculated .searchDialogContent
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.tableWrapperContent
{
    padding-bottom: 70px;
    border-collapse: separate;
    height: 100%;
}
.tableWrapperActions
{
    margin-top: -70px;
    border-collapse: separate;
}
.searchDialogContent #headerContent .dxeFocused_pydc
{
    box-shadow: none;
    -webkit-box-shadow: none;
}
.searchDialogContent .right
{
    right: 30px;
}
.searchDialogContent .left
{
    left: 30px;
}
.searchDialogContent .bottom
{
    padding-bottom: 32px;
}
.findPopupControl.dxpcLite_pydc .dxpc-header, .findPopupControl.dxdpLite_pydc .dxpc-header
{
    border-bottom: none;
    padding: 0;
    background: none;
}
.findPopupControl .dxpc-headerContent
{
    color: #4A4A4A;
    font-size: 18px;
    padding: 18px 30px 10px 30px;
}
.findPopupControl .dxpc-headerContent,
.findPopupControl .dxpc-footerContent,
.findPopupControl.dxpcLite_pydc .dxpc-headerText,
.findPopupControl.dxdpLite_pydc .dxpc-headerText
{
    white-space: normal;
}
.headerContent
{
    overflow: hidden;
    background-color: white;
    padding-top: 16px;
    right: 30px;
    left: 30px;
}
.WebEditorCell .ValidationFailed
{
    border: 1px solid #f2b1bf;
}
.WebEditorCell .ValidationFailed.ValidationWarning,
.WebEditorCell .ValidationFailed.ValidationInformation
{
    border: 1px solid #DFC45A;
}
.WebEditorCell .ValidationFailed.CheckBox
{
    border: 0;
}
/*# EndlessPaging borders #*/
.GridView .dxgvHSDC tr[id$="DXHeadersRow0"] > .dxgvHeader_pydc
{
    border-top-width: 0px !important;
}
.GridView .dxgvCSD .dxgvDataRow_pydc:last-child td.dxgv
{
    border-bottom: 0 !important;
}
.LayoutTabContainerWithNestedFrame .NestedFrame .GridView .dxgvCSD,
.cgc-np .NestedFrame .GridView .dxgvCSD
{
    border: 0;
}
.LayoutTabContainerWithNestedFrame .NestedFrame .GridView.dxgvControl_pydc .dxgvHSDC,
.cgc-np .NestedFrame .GridView.dxgvControl_pydc .dxgvHSDC
{
    border-left: 0;
    border-right: 0;
}
.dialogContent .cgc-np .NestedFrame .GridView .dxgvCSD
{
    border-bottom: Solid 1px #c6c6c6;
    border-right: Solid 1px #c6c6c6;
    border-left: Solid 1px #c6c6c6;
}
.dialogContent .cgc-np .NestedFrame .GridView.dxgvControl_pydc .dxgvHSDC
{
    border-left: Solid 1px #c6c6c6;
    border-right: Solid 1px #c6c6c6;
}
.GridView.dxgvControl_pydc .dxgvFSDC
{
    border-bottom: 0;
}
.dialogContent .cgc-np .NestedFrame .GridView .dxgvHSDC .dxgvTable_pydc,
.dialogContent .cgc-np .NestedFrame .GridView .dxgvCSD .dxgvTable_pydc
{
    border-left: 0;
    border-right: 0;
}
.GridView .dxgvHSDC .dxgvHeader_pydc:last-child
{
    border-right: 0;
}
a.baseColorLink
{
    color: #2C86D3;
}
/*# T424697 #*/
.GridView .dxgvSearchPanel_pydc
{
    background-color: #E9E9E9;
}
.PopupNewStyle .GridView .dxgvSearchPanel_pydc,
.NestedFrame .GridView .dxgvSearchPanel_pydc
{
    background-color: #fff;
}
.NestedFrame .GridView .dxgvSearchPanel_pydc
{
    padding-left: 16px;
}
/*# T475015 #*/
.TreeList .XafTreeNode .ImageCell
{
    vertical-align: middle;
}
.TreeList .XafTreeNode .ImageCell img
{
    display: inherit;
}
.TreeList .XafTreeNode .TextCell
{
    padding: 0px 5px;
}
.TreeList .dxtlIndentWithButton_pydc
{
    vertical-align: middle;
}
.TreeList .dxtlCommandCell_pydc
{
    vertical-align: middle;
}
.TreeList .dxtlCommandCell_pydc .dxbButton_pydc
{
    display: block;
}
/*# T492034 #*/
.ActionUrlItem.dxeHyperlink_pydc,
.ActionUrlItem.dxeHyperlink_pydc:visited,
.ActionUrlItem.dxeHyperlink_pydc:hover
{
    color: #2C86D3;
    text-decoration: none;
    padding: 0;
}
.dxm-popup .ActionUrlItem.dxeHyperlink_pydc,
.dxm-popup .ActionUrlItem.dxeHyperlink_pydc:visited,
.dxm-popup .ActionUrlItem.dxeHyperlink_pydc:hover
{
    color: #4a4a4a;
}
/*# Error.aspx #*/
.Error .PageContent
{
    margin: 8px;
}
.Error .StaticText
{
    color: #000;
}
/*# T519328 #*/
.dx-toast-wrapper.dx-overlay-wrapper
{
    z-index: 15000 !important;
}
.Layout
{
    font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
    color: #4a4a4a;
}
.Layout .WebEditorCell::after
{
    display: block;
    content: "";
    clear: both;
}
.FixedEditorContainer
{
    vertical-align: top;
}
.FixedEditorContainer.firstEditorContainer .Item
{
    padding-right: 10px;
}
.FixedEditorContainer.secondEditorContainer .Item
{
    padding-right: 10px;
    padding-left: 11px;
}
.FixedEditorContainer.lastEditorContainer .Item
{
    padding-left: 11px;
}
.dialogContent .CardGroupBase
{
    border: none;
}
.dialogContent .CardGroupBase > tbody > tr > td > .GroupHeader
{
    background-color: #fff;
    padding-bottom: 0;
}
.dialogContent .GroupHeader .Label
{
    padding-left: 30px;
    color: #4a4a4a;
    font-size: 1.4em;
}
.dialogContent .CardGroupContent
{
    padding: 15px 30px 7px 30px;
}
/* T305393 */
.dialogContent .LayoutTabbedGroupContainer > .dxtcLite_pydc.dxtc-top > .TabControlContent,
.dialogContent .LayoutTabbedGroupContainer > .dxtcLite_pydc.dxtc-top > .dxtc-stripContainer
{
    margin-left: 30px;
    margin-right: 30px;
}
.Item,
.LayoutTabContainer.LayoutTabContainerWithNestedFrame .MasterDetailSplitter .Item
{
    padding-bottom: 5px;
    padding-top: 6px;
}
.Item.ListViewItem
{
    overflow-x: auto;
}
.searchDialogContent .Item.ListViewItem
{
    padding-top: 20px;
    padding-bottom: 0px;
    overflow: inherit;
}
.searchDialogContent .FindGridView .dxgvCSD
{
    width: auto !important;
}
.LayoutEditMode.Layout td.Caption
{
    height: 15px;
}
.Caption
{
    color: #9a9a9a;
    font-size: 0.85em;
    padding-bottom: 3px;
}
.Caption.dxeTAR
{
    padding-bottom: 0px;
}
.lftCL .Caption
{
    padding-bottom: 0;
}
.GroupHeader div
{
    display: inline-block;
    vertical-align: middle;
}
.GroupHeader .Image,
.LayoutTabContainer .MasterDetailSplitter .GroupHeader .Image
{
    padding-left: 19px;
}
.GroupHeader .Label,
.LayoutTabContainer .MasterDetailSplitter .GroupHeader .Label
{
    padding-left: 19px;
    display: inline-block;
}
.CardGroupContent .GroupHeader .Label
{
    color: #4a4a4a;
    padding-left: 0px;
    font-size: 1.2em;
}
.CardGroupBase > tbody > tr > td > .GroupHeader
{
    color: #848484;
    background-color: #F7F7F7;
    padding-top: 10px;
    padding-bottom: 11px;
    border-collapse: separate !important;
}
.CardGroupBase > tbody > tr > td.CardGroupContent > .GroupHeader
{
    background-color: white;
    padding-top: 30px;
}
.CardGroupBase .NestedFrame .CardGroupBase, .CardGroupBase .NestedFrame .CardGroupBase .lastCardGroup, .CardGroupBase .NestedFrame .CardGroupBase .CardGroupContent
{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.LogonTemplate .right
{
    float: right;
}
.LogonTemplate .ErrorMessage
{
    border: 0;
    margin-bottom: 0;
}
.LogonTemplate .CardGroupContent
{
    padding: 0px !important;
}
.LogonTemplate .GroupContent.lastEditorContainer .Item
{
    padding-left: 0px;
}
.LogonTemplate .CardGroupBase
{
    border: none !important;
}
.LogonTemplate .LogonItemClassCSS
{
    padding-bottom: 15px;
}
.LogonTemplate .LogonTextClassCSS
{
    padding-top: 0px;
    padding-bottom: 38px;
    text-align: left;
}
.LogonTemplate .LogonTextClassCSS .StaticText
{
    font-size: 1.8em;
    color: #4a4a4a;
}
.LogonTemplate .LogonTextClassCSS .dxm-tmpl td.dxic,
.LogonTemplate .WebEditorCell td.dxic
{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.LogonTemplate .PasswordHintClassCSS
{
    text-align: left;
    padding-bottom: 20px;
}
.LogonTemplate .PasswordHintClassCSS .StaticText
{
    font-size: 0.85em;
}
.LogonTemplate .smallImage .dxm-image,
.LogonTemplate .dxm-popup .smallImage .dxm-image
{
    padding: 12px 7px 6px 8px !important;
}
.LogonTemplate .smallImage2 .dxm-image,
.LogonTemplate .dxm-popup .smallImage2 .dxm-image
{
    padding: 8px 4px 3px 4px !important;
}
.LogonTemplate .menuActionImageSVG .dxm-image,
.LogonTemplate .dxm-popup .menuActionImageSVG .dxm-image
{
    padding: 8px 4px 3px 4px !important;
}
@media all and (min-width: 599.98px)
{
    .AdaptivityEditorContainer
    {
        float: left;
    }
    .WrappedAdaptivityEditorContainer
    {
        float: none;
    }
    .firstEditorContainer
    {
        min-width: 32px;
    }
    .firstEditorContainer .Item
    {
        padding-right: 19px;
    }
    .secondEditorContainer
    {
        min-width: 32px;
        margin-bottom: 8px;
    }
    .secondEditorContainer .Item
    {
        padding-right: 19px;
    }
    .secondHorizontalEditorContainer
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .lastEditorContainer
    {
        min-width: 32px;
    }
    .lastEditorContainer .Item
    {
        padding-right: 14px;
    }
    table.CardGroupBase
    {
        border: 1px solid #c6c6c6;
    }
    .CardGroupBase.GroupContent
    {
        border-collapse: separate !important;
    }
    .dxrpControl_pydc.CardGroupBase, .dxrpControlGB_pydc.CardGroupBase
    {
        border: 1px solid #c6c6c6;
    }
    .LayoutTabbedGroupContainer
    {
        overflow-x: auto;
        width: 100%;
    }
    .LayoutTabbedGroupContainer .CardGroupBase.GroupContent
    {
        padding: 0px;
    }
    .NestedFrame .CardGroupBase
    {
        border: none;
    }
    .NestedFrame > .ToolBarUpdatePanel > .ToolBar
    {
        float: right;
    }
    .NestedFrame .Layout
    {
        overflow: hidden;
    }
    .firstVerticalCardGroup
    {
        margin-bottom: 10px;
    }
    .secondVerticalCardGroup
    {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .lastVerticalCardGroup
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .firstCardGroup
    {
        padding-bottom: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .secondCardGroup
    {
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .lastCardGroup
    {
        padding-bottom: 10px;
        padding-left: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .GroupContent
    {
        width: 100%;
    }
    .GroupContent .Item
    {
        padding-right: 0px;
        padding-left: 0px;
    }
    .GroupContent .GroupHeader
    {
        padding-bottom: 5px;
        padding-top: 20px;
    }
    .GroupContent.firstEditorContainer .Item,
    .LayoutTabContainer.LayoutTabContainerWithNestedFrame .MasterDetailSplitter .GroupContent.firstEditorContainer .Item,
    .GroupContent.firstEditorContainer .GroupHeader,
    .LayoutTabContainer.LayoutTabContainerWithNestedFrame .MasterDetailSplitter .GroupContent.firstEditorContainer .GroupHeader
    {
        padding-right: 10px;
    }
    .GroupContent.secondEditorContainer .Item,
    .LayoutTabContainer.LayoutTabContainerWithNestedFrame .MasterDetailSplitter .GroupContent.secondEditorContainer .Item,
    .GroupContent.secondEditorContainer .GroupHeader,
    .LayoutTabContainer.LayoutTabContainerWithNestedFrame .MasterDetailSplitter .GroupContent.secondEditorContainer .GroupHeader
    {
        padding-right: 10px;
        padding-left: 11px;
    }
    .GroupContent.lastEditorContainer .Item,
    .LayoutTabContainer.LayoutTabContainerWithNestedFrame .MasterDetailSplitter .GroupContent.lastEditorContainer .Item,
    .GroupContent.lastEditorContainer .GroupHeader,
    .LayoutTabContainer.LayoutTabContainerWithNestedFrame .MasterDetailSplitter .GroupContent.lastEditorContainer .GroupHeader
    {
        padding-left: 11px;
    }
    .LayoutTabContainer
    {
        padding: 30px;
    }
    .LayoutTabContainer:after
    {
        display: table;
        content: "";
        line-height: 0;
        clear: both;
    }
    .LayoutTabContainer .CardGroupBase
    {
        margin: 0px;
    }
    .LayoutTabContainer .Item
    {
        padding-right: 0px;
    }
    .LayoutTabContainer.LayoutTabContainerWithNestedFrame
    {
        padding: 0px;
    }
    .LayoutTabContainer.LayoutTabContainerWithNestedFrame .Item
    {
        padding: 0px;
    }
    .NestedFrameViewSite .Item.ListViewItem
    {
        border: none;
    }
    .NestedFrameViewSite .Item.ListViewItem .GridView
    {
        border: none;
    }
    .DashboardView .NestedFrameViewSite .Item.ListViewItem
    {
        padding-left: 0px;
        border: none;
    }
    .DashboardView .NestedFrameViewSite .Item.ListViewItem .GridView
    {
        border: 1px solid #c6c6c6;
    }
    .LayoutTabContainerWithNestedFrame > .Item > .NestedFrame > .NestedFrameViewSite > .Item.ListViewItem
    {
        border: none;
    }
    .LayoutTabContainerWithNestedFrame > .Item > .NestedFrame > .NestedFrameViewSite > .Item.ListViewItem .GridView .dxgvTable_pydc
    {
        border: none;
    }
    .LayoutTabContainerWithNestedFrame > .Item > .NestedFrame > .NestedFrameViewSite > .Item.ListViewItem .GridView .dxgvTable_pydc .dxgvHeader_pydc
    {
        border-top: 1px solid #c6c6c6;
    }
    .LayoutTabContainer:not(.LayoutTabContainerWithNestedFrame) > .Item > .NestedFrame > .NestedFrameViewSite > .Item.ListViewItem .GridView
    {
        border-bottom: 1px solid #c6c6c6;
        border-left: 1px solid #c6c6c6;
        border-right: 1px solid #c6c6c6;
    }
    .LayoutTabContainer:not(.LayoutTabContainerWithNestedFrame) > .Item > .NestedFrame > .NestedFrameViewSite > .Item.ListViewItem .GridView .dxgvTable_pydc
    {
        border: 0;
    }
    .Item.ListViewItem
    {
        padding-right: 0px;
        padding-top: 0px;
        width: 100%;
    }
    .Item.NestedFrameControl
    {
        padding-right: 0px;
        width: 100%;
    }
}
@media all and (max-width: 599.98px)
{
    .GroupHeader
    {
        padding-top: 20px;
    }
    .GroupContent
    {
        width: 100%;
    }
    .GroupContent.Adaptivity
    {
        width: 100% !important;
    }
    .LayoutTabContainer:after
    {
        display: table;
        content: "";
        line-height: 0;
        clear: both;
    }
    .LayoutTabContainer > *
    {
        padding-left: 30px;
        padding-right: 30px;
        border-collapse: separate !important;
    }
    .LayoutTabContainer > *:last-child
    {
        padding-bottom: 30px;
    }
    .LayoutTabContainer .dxgvTable_pydc
    {
        border: none;
    }
    .LayoutTabContainer.LayoutTabContainerWithNestedFrame > .Item
    {
        padding: 0px;
    }
    .CardGroupBase
    {
        margin-bottom: 20px;
        border: 1px solid #c6c6c6;
        border-collapse: separate !important;
    }
    .dxrpControl_pydc.CardGroupBase, .dxrpControlGB_pydc.CardGroupBase
    {
        border: 1px solid #c6c6c6;
    }
    .Layout .Layout .CardGroupBase
    {
        border: none !important;
    }
    .Layout .Layout .CardGroupBase > tbody > tr > td
    {
        padding: 0px;
    }
    .LayoutTabbedGroupContainer
    {
        padding-bottom: 30px;
    }
    .NotificationsPopupWindowCustomization .notificationsStateItem.Item,
    .NotificationsPopupWindowCustomization .actionGroup.Item .ACH
    {
        float: none;
    }
    .NotificationsPopupWindowCustomization .emptyItem,
    .NotificationsPopupWindowCustomization .emptyItemActionGroup
    {
        display: none;
    }
}
@media all and (max-width: 479.98px), (max-height: 479.98px)
{
    .LogonTemplate .LogonItemClassCSS
    {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .LogonTemplate .LogonContent
    {
        padding: 15px 25px;
    }
}
@media all and (max-width: 479.98px)
{
    .LogonTemplate .LogonTextClassCSS
    {
        padding-bottom: 10px;
    }
    .LogonTemplate .LogonContentWidth
    {
        width: 90%;
    }
    .LogonTemplate .LogonContent.LogonContentWidth
    {
        width: 100%;
    }
    .LogonTemplate .PasswordHintClassCSS
    {
        padding-bottom: 5px;
    }
    .LogonTemplate .LogonTextClassCSS .dxm-tmpl td.dxic,
    .LogonTemplate .WebEditorCell td.dxic
    {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .paddings
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .paddings .headerTable,
    .paddings .menuAreaDiv
    {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media all and (max-height: 479.98px)
{
    .LogonTemplate .LogonTextClassCSS
    {
        padding-bottom: 2px;
    }
    .LogonTemplate .PasswordHintClassCSS
    {
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .LogonTemplate .LogonTextClassCSS .dxm-tmpl td.dxic > input,
    .LogonTemplate .WebEditorCell td.dxic > input
    {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
    .LogonTemplate .dxmLite_pydc .dxm-main.dxmtb
    {
        padding: 0px;
    }
}
@media all and (max-height: 349.98px)
{
    .LogonTemplate .LogonTextClassCSS
    {
        padding-bottom: 2px;
    }
    .LogonTemplate .PasswordHintClassCSS
    {
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .LogonTemplate .LogonTextClassCSS .dxm-tmpl td.dxic,
    .LogonTemplate .WebEditorCell td.dxic
    {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }
    .LogonTemplate .dxmLite_pydc .dxm-main.dxmtb
    {
        padding: 0px;
    }
}
/*#Reports ===============================================#*/
.ReportViewMainGroup .Item
{
    padding-bottom: 0px;
    padding-top: 0px;
}
.ReportViewMainGroup .CardGroupContent
{
    padding: 0px;
}
.ReportViewMainGroup .dxsplPane_pydc
{
    border: none;
}
.ReportViewMainGroup .dxmLite_pydc .dxm-tmpl td.dxic > input
{
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    padding-right: 4px;
}
/*#Reports End ===============================================#*/
/*#HTML Editor ===============================================#*/
.dxheControl_pydc .dxmLite_pydc .dxm-tmpl td.dxic > input
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.dxheControl_pydc .dxmLite_pydc .dxm-horizontal.dxmtb .dxtb-comboBoxMenuItem .dxeButtonEditButton_pydc
{
    padding: 1px 0px;
}
/*#HTML Editor End ===============================================#*/
/*#Dashboards ===============================================#*/
.DashboardsViewMainGroup .CardGroupContent
{
    padding: 0px;
}
.DashboardsViewMainGroup .Item
{
    padding: 0px;
}
.DashboardsViewMainGroup .CardGroupContent .Item
{
    padding: 0px;
}
.DashboardsViewMainGroup.CardGroupBase
{
    border: 0px;
}
.NoBorders .firstVerticalCardGroup
{
    margin-bottom: 0px;
}
.NoBorders .dialogContent .viewSite
{
    margin-top: 0px !important;
}
.NoBorders .DashboardsViewMainGroup .dx-dashboard-widget-container > .dx-dashboard-surface
{
    background-color: initial;
}
.DashboardsViewMainGroup .dx-dashboard-widget-container > .dx-dashboard-surface
{
    background-color: #E9E9E9;
}
#mainDiv .DashboardsViewMainGroup dashboard-viewer .dx-dsh-title .dx-toolbar-after
{
    visibility: hidden;
}
#mainDiv .DashboardsViewMainGroup dashboard-viewer > dashboard-title .dx-dashboard-title-caption
{
    margin-left: 0px !important;
    padding: 0px !important;
}
#mainDiv .DashboardsViewMainGroup dashboard-viewer .dx-toolbar-center
{
    margin: 0px !important;
}
#mainDiv .DashboardsViewMainGroup dashboard-viewer > dashboard-title .dx-dashboard-title-image
{
    margin-left: 0px !important;
    margin-right: 10px !important;
}
#mainDiv .DashboardsViewMainGroup .dx-dashboard-widget-container > .dx-dashboard-surface > .dx-dashboard-viewer-content
{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
/*#Dashboards End ===========================================#*/
/* TreeList styles begin */
.dxtlDataTable .dxtlHeader_pydc
{
    border-bottom: 0;
}
.NestedFrameViewSite .Item.ListViewItem .dxtlDataTable .dxgvTable_pydc
{
    border: none;
}
.NestedFrameViewSite .Item.ListViewItem .dxtlDataTable .dxgvTable_pydc .dxgvHeader_pydc
{
    border-top: none;
}
.DashboardView .dxtlControl_pydc .dxtlDataTable
{
    padding-left: 0px;
    border: none;
}
.DashboardView .NestedFrameViewSite .Item.ListViewItem .dxtlDataTable
{
    border: 1px solid #c6c6c6;
}
.cgc-np .dxtlDataTable
{
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
.cgc-np .dxtlDataTable + .dxtlPagerBottomPanel_pydc,
.LayoutTabContainer.LayoutTabContainerWithNestedFrame .dxtlDataTable + .dxtlPagerBottomPanel_pydc
{
    border-top: 1px solid #c6c6c6;
    padding: 4px 13px 0;
}
.cgc-np .dxtlDataTable + .dxtlPagerBottomPanel_pydc .dxpLite_pydc
{
    padding: 6px 0 0;
}
.CardGroupContent .NestedFrame .dxtlPagerBottomPanel_pydc,
.LayoutTabContainer.LayoutTabContainerWithNestedFrame .dxtlPagerBottomPanel_pydc,
.LayoutTabContainer.LayoutTabContainerWithNestedFrame .dxtlDataTable
{
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}
/* TreeList styles end */
.dxscControl_pydc .dxscDayScrollBodyTable,
.dxscControl_pydc .dxscRendererTable,
.dxscControl_pydc .dxscRendererTable .dxscDayHdrsTbl
{
    border-collapse: collapse !important;
}
