/* -- WebChartControl -- */
.dxchartsuiLoadingDiv_pydc
{
    background-color: Gray;
    opacity: 0.01;
    filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxchartsuiLoadingPanel_pydc
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #201f35;
    background: White;
    border: 1px solid #9da0aa;
}
.dxchartsuiLoadingPanel_pydc td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 7px 10px;
}
/* -- Crosshair -- */
.dxchartsuiCrosshairHLine_pydc,
.dxchartsuiCrosshairVLine_pydc
{
    background-color: transparent;
    border-color: #de39cd;
}
.dxchartsuiCrosshairLabel_pydc,
.dxchartsuiCrosshairHLine_pydc,
.dxchartsuiCrosshairVLine_pydc
{
    position: absolute;
    z-index: 41998;
}
.dxchartsuiCrosshairLabel_pydc
{
    background-color: #de39cd;
    color: White;
    font: 11px Verdana, Geneva, sans-serif;
    padding: 1px 4px 1px 4px;
    white-space: nowrap;
}
.dxchartsuiCrosshairHLine_pydc
{
    height: 0px;
}
.dxchartsuiCrosshairVLine_pydc
{
    width: 0px;
}
/* -- Tooltip -- */
.dxchartsuiTooltip_pydc,
.dxchartsuiTooltip_TopLeft_pydc,
.dxchartsuiTooltip_TopRight_pydc,
.dxchartsuiTooltip_BottomLeft_pydc,
.dxchartsuiTooltip_BottomRight_pydc
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #201f35;
    background-color: White;
    border: 1px solid rgba(0,0,0,0.35);
    padding: 6px 10px 6px 10px;
    position: absolute;
    cursor: default;
    white-space: nowrap;
    -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 41999;
}
.dxchartsuiTooltip_TopLeft_pydc:before,
.dxchartsuiTooltip_TopRight_pydc:before,
.dxchartsuiTooltip_BottomLeft_pydc:before,
.dxchartsuiTooltip_BottomRight_pydc:before,
.dxchartsuiTooltip_TopLeft_pydc:after,
.dxchartsuiTooltip_TopRight_pydc:after,
.dxchartsuiTooltip_BottomLeft_pydc:after,
.dxchartsuiTooltip_BottomRight_pydc:after
{
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;
}
.dxchartsuiTooltip_TopLeft_pydc:before,
.dxchartsuiTooltip_TopRight_pydc:before,
.dxchartsuiTooltip_BottomLeft_pydc:before,
.dxchartsuiTooltip_BottomRight_pydc:before
{
    border-width: 10px 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dxchartsuiTooltip_TopLeft_pydc:after,
.dxchartsuiTooltip_TopRight_pydc:after,
.dxchartsuiTooltip_BottomLeft_pydc:after,
.dxchartsuiTooltip_BottomRight_pydc:after
{
    border-width: 8px 4px;
}
.dxchartsuiTooltip_TopLeft_pydc:before
{
    border-color: transparent transparent rgba(139,139,139,0.35) rgba(139,139,139,0.35);
    top: -20px;
    left: 10px;
}
.dxchartsuiTooltip_TopLeft_pydc:after
{
    border-color: transparent transparent White White;
    top: -16px;
    left: 11px;
}
.dxchartsuiTooltip_TopRight_pydc:before
{
    border-color: transparent rgba(139,139,139,0.35) rgba(139,139,139,0.35) transparent;
    top: -20px;
    right: 10px;
}
.dxchartsuiTooltip_TopRight_pydc:after
{
    border-color: transparent White White transparent;
    top: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomRight_pydc:before
{
    border-color: rgba(139,139,139,0.35) rgba(139,139,139,0.35) transparent transparent;
    bottom: -20px;
    right: 10px;
}
.dxchartsuiTooltip_BottomRight_pydc:after
{
    border-color: White White transparent transparent;
    bottom: -16px;
    right: 11px;
}
.dxchartsuiTooltip_BottomLeft_pydc:before
{
    border-color: rgba(139,139,139,0.35) transparent transparent rgba(139,139,139,0.35);
    bottom: -20px;
    left: 10px;
}
.dxchartsuiTooltip_BottomLeft_pydc:after
{
    border-color: White transparent transparent White;
    bottom: -16px;
    left: 11px;
}
