.dx-acc-r .dxRichEdit_CenterTabDragHandle_pydc:before, .dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_pydc:before, .dx-acc-r .dxRichEdit_DecimalTabDragHandle_pydc:before, .dx-acc-r .dxRichEdit_FirstLineIndentDragHandle_pydc:before, .dx-acc-r .dxRichEdit_LeftIndentDragHandle_pydc:before, .dx-acc-r .dxRichEdit_LeftTabDragHandle_pydc:before, .dx-acc-r .dxRichEdit_QuickSearchCloseButton_pydc:before, .dx-acc-r .dxRichEdit_QuickSearchCollapseButton_pydc:before, .dx-acc-r .dxRichEdit_QuickSearchNextButton_pydc:before, .dx-acc-r .dxRichEdit_QuickSearchPrevButton_pydc:before, .dx-acc-r .dxRichEdit_RightIndentDragHandle_pydc:before, .dx-acc-r .dxRichEdit_RightTabDragHandle_pydc:before { content: url('spriteAccessible.png'); }
.dx-acc-r .dxRichEdit_CenterTabDragHandle_pydc:before { left: -114px; top: 0px; }
.dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_pydc:before { left: -105px; top: 0px; }
.dx-acc-r .dxRichEdit_DecimalTabDragHandle_pydc:before { left: -124px; top: 0px; }
.dx-acc-r .dxRichEdit_FirstLineIndentDragHandle_pydc:before { left: -72px; top: 0px; }
.dx-acc-r .dxRichEdit_LeftIndentDragHandle_pydc:before { left: -83px; top: 0px; }
.dx-acc-r .dxRichEdit_LeftTabDragHandle_pydc:before { left: -134px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchCloseButton_pydc:before { left: -42px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchCollapseButton_pydc:before { left: -57px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchNextButton_pydc:before { left: 0px; top: 0px; }
.dx-acc-r .dxRichEdit_QuickSearchPrevButton_pydc:before { left: -21px; top: 0px; }
.dx-acc-r .dxRichEdit_RightIndentDragHandle_pydc:before { left: -94px; top: 0px; }
.dx-acc-r .dxRichEdit_RightTabDragHandle_pydc:before { left: -142px; top: 0px; }

