
.dxXtraReports_BtnFirstPage_pydc, .dxXtraReports_BtnFirstPageDisabled_pydc, .dxXtraReports_BtnLastPage_pydc, .dxXtraReports_BtnLastPageDisabled_pydc, .dxXtraReports_BtnNextPage_pydc, .dxXtraReports_BtnNextPageDisabled_pydc, .dxXtraReports_BtnPrevPage_pydc, .dxXtraReports_BtnPrevPageDisabled_pydc, .dxXtraReports_BtnPrint_pydc, .dxXtraReports_BtnPrintDisabled_pydc, .dxXtraReports_BtnPrintPage_pydc, .dxXtraReports_BtnPrintPageDisabled_pydc, .dxXtraReports_BtnSave_pydc, .dxXtraReports_BtnSaveDisabled_pydc, .dxXtraReports_BtnSaveWindow_pydc, .dxXtraReports_BtnSaveWindowDisabled_pydc, .dxXtraReports_BtnSearch_pydc, .dxXtraReports_BtnSearchDisabled_pydc, .dxXtraReports_PageBorder_blc_pydc, .dxXtraReports_PageBorder_brc_pydc, .dxXtraReports_PageBorder_tlc_pydc, .dxXtraReports_PageBorder_trc_pydc { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxXtraReports_BtnFirstPage_pydc { background-position: -288px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnFirstPageDisabled_pydc { background-position: 0px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnLastPage_pydc { background-position: -252px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnLastPageDisabled_pydc { background-position: -270px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnNextPage_pydc { background-position: -216px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnNextPageDisabled_pydc { background-position: -234px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnPrevPage_pydc { background-position: -180px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnPrevPageDisabled_pydc { background-position: -198px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnPrint_pydc { background-position: -126px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnPrintDisabled_pydc { background-position: -306px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnPrintPage_pydc { background-position: -162px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnPrintPageDisabled_pydc { background-position: -144px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnSave_pydc { background-position: -54px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnSaveDisabled_pydc { background-position: -108px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnSaveWindow_pydc { background-position: -72px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnSaveWindowDisabled_pydc { background-position: -90px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnSearch_pydc { background-position: -18px 0px; width: 16px; height: 16px } 
.dxXtraReports_BtnSearchDisabled_pydc { background-position: -36px 0px; width: 16px; height: 16px } 
.dxXtraReports_PageBorder_blc_pydc { background-position: -336px 0px; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_brc_pydc { background-position: -348px 0px; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_tlc_pydc { background-position: -324px 0px; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_trc_pydc { background-position: -360px 0px; width: 10px; height: 10px } 
.dxXtraReports_PageBorder_t_pydc,
.dxXtraReports_PageBorder_l_pydc,
.dxXtraReports_PageBorder_r_pydc,
.dxXtraReports_PageBorder_b_pydc {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_pydc {
    background-image: url('pageTopBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_pydc {
    background-image: url('pageLeftBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_pydc {
    background-image: url('pageRightBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_pydc {
    background-image: url('pageBottomBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}



