.dx-acc-r .dxXtraReports_BtnFirstPage_pydc:before, .dx-acc-r .dxXtraReports_BtnFirstPageDisabled_pydc:before, .dx-acc-r .dxXtraReports_BtnLastPage_pydc:before, .dx-acc-r .dxXtraReports_BtnLastPageDisabled_pydc:before, .dx-acc-r .dxXtraReports_BtnNextPage_pydc:before, .dx-acc-r .dxXtraReports_BtnNextPageDisabled_pydc:before, .dx-acc-r .dxXtraReports_BtnPrevPage_pydc:before, .dx-acc-r .dxXtraReports_BtnPrevPageDisabled_pydc:before, .dx-acc-r .dxXtraReports_BtnPrint_pydc:before, .dx-acc-r .dxXtraReports_BtnPrintDisabled_pydc:before, .dx-acc-r .dxXtraReports_BtnPrintPage_pydc:before, .dx-acc-r .dxXtraReports_BtnPrintPageDisabled_pydc:before, .dx-acc-r .dxXtraReports_BtnSave_pydc:before, .dx-acc-r .dxXtraReports_BtnSaveDisabled_pydc:before, .dx-acc-r .dxXtraReports_BtnSaveWindow_pydc:before, .dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_pydc:before, .dx-acc-r .dxXtraReports_BtnSearch_pydc:before, .dx-acc-r .dxXtraReports_BtnSearchDisabled_pydc:before, .dx-acc-r .dxXtraReports_PageBorder_blc_pydc:before, .dx-acc-r .dxXtraReports_PageBorder_brc_pydc:before, .dx-acc-r .dxXtraReports_PageBorder_tlc_pydc:before, .dx-acc-r .dxXtraReports_PageBorder_trc_pydc:before { content: url('spriteAccessible.png'); }
.dx-acc-r .dxXtraReports_BtnFirstPage_pydc:before { left: -288px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnFirstPageDisabled_pydc:before { left: 0px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnLastPage_pydc:before { left: -252px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnLastPageDisabled_pydc:before { left: -270px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnNextPage_pydc:before { left: -216px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnNextPageDisabled_pydc:before { left: -234px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrevPage_pydc:before { left: -180px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrevPageDisabled_pydc:before { left: -198px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrint_pydc:before { left: -126px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrintDisabled_pydc:before { left: -306px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrintPage_pydc:before { left: -162px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnPrintPageDisabled_pydc:before { left: -144px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSave_pydc:before { left: -54px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSaveDisabled_pydc:before { left: -108px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSaveWindow_pydc:before { left: -72px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_pydc:before { left: -90px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSearch_pydc:before { left: -18px; top: 0px; }
.dx-acc-r .dxXtraReports_BtnSearchDisabled_pydc:before { left: -36px; top: 0px; }
.dx-acc-r .dxXtraReports_PageBorder_blc_pydc:before { left: -336px; top: 0px; }
.dx-acc-r .dxXtraReports_PageBorder_brc_pydc:before { left: -348px; top: 0px; }
.dx-acc-r .dxXtraReports_PageBorder_tlc_pydc:before { left: -324px; top: 0px; }
.dx-acc-r .dxXtraReports_PageBorder_trc_pydc:before { left: -360px; top: 0px; }

