/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
.dxtlControl_pydc
{
    cursor: default;
    font: 11px Verdana, Geneva, sans-serif;
    color: #201f35;
    border: 1px solid #9da0aa;
    background: White url('CssImages/ControlBack.png') no-repeat right bottom;
}
.dxtlControl_pydc caption
{
    font-weight: normal;
    color: #201f35;
    padding: 3px 3px 5px;
    text-align: center;
    background: #f2f3f4 url('CssImages/TitleBack.png') repeat-x left top;
    border-bottom: 0 solid #cacbd3;
    border: 1px solid #cacbd3;
}
/* Indent cells */
.dxtlIndent_pydc,
.dxtlIndentWithButton_pydc
{
    background: Transparent none;
    vertical-align: top;
}
.dxtlIndent_pydc
{
    padding: 0 11px;
}
.dxtlIndentWithButton_pydc
{
    padding: 4px 5px;
}
.dxtlSelectionCell_pydc
{
    border-width: 0;
}
/* Tree-lines cells */
.dxtlLineRoot_pydc,
.dxtlLineFirst_pydc,
.dxtlLineMiddle_pydc,
.dxtlLineLast_pydc,
.dxtlLineFirstRtl_pydc,
.dxtlLineMiddleRtl_pydc,
.dxtlLineLastRtl_pydc
{
    background-color: Transparent;
}
.dxtlIndent_pydc,
.dxtlIndentWithButton_pydc
{
    background-color: Transparent;
}
/* Headers */
.dxtlHeader_pydc,
.dxtlControl_pydc .dxtlHSDC
{
    background: #f2f3f4 url('CssImages/HeaderBack.png') repeat-x left top;
}
.dxtlHeader_pydc
{
    border: 1px solid #cacbd3;
    padding: 5px 6px;
    font-weight: normal;
    color: #201f35;
}
.dxtlHeader_pydc table.dxtl
{
    border-collapse: collapse;
    width: 100%;
}
.dxtlHeader_pydc td.dxtl
{
    padding: 0;
}
.dxtlHeader_pydc,
.dxtlHeader_pydc td.dxtl
{
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
}
/* Nodes */
.dxtlNode_pydc
{
    background: Transparent none;
}
.dxtlAltNode_pydc td.dxtl,
.dxtlAltNode_pydc .dxtlCommandCell_pydc,
.dxtlAltNode_pydc .dxtlSelectionCell_pydc
{
    background: url('CssImages/AltBack.png') left top;
}
.dxtlSelectedNode_pydc td.dxtl,
.dxtlSelectedNode_pydc .dxtlCommandCell_pydc,
.dxtlSelectedNode_pydc .dxtlSelectionCell_pydc,
.dxtlSelectedCell_pydc
{
    background: #eff0f2 none;
    color: #201f35;
}
.dxtlSelectedNode_pydc td.dxtl.dxtlSelectedCell_pydc
{
    background: #dbdbdd none;
}
.dxtlFocusedNode_pydc td.dxtl,
.dxtlFocusedNode_pydc .dxtlCommandCell_pydc,
.dxtlFocusedNode_pydc .dxtlSelectionCell_pydc
{
    background: #dde6fd url('CssImages/FocusedBack.png') repeat-x left top;
    color: #201f35;
}
.dxtlAltNode_pydc .dxtlIndent_pydc,
.dxtlSelectedNode_pydc .dxtlIndent_pydc,
.dxtlFocusedNode_pydc .dxtlIndent_pydc
{
    background: Transparent none;
}
.dxtlInlineEditNode_pydc
{
    background: Transparent none;
}
.dxtlEditFormDisplayNode_pydc td.dxtl,
.dxtlEditFormDisplayNode_pydc .dxtlCommandCell_pydc,
.dxtlEditFormDisplayNode_pydc .dxtlSelectionCell_pydc
{
    background: #f9f9fc none;
}
.dxtlNode_pydc td.dxtl,
.dxtlAltNode_pydc td.dxtl,
.dxtlSelectedNode_pydc td.dxtl,
.dxtlFocusedNode_pydc td.dxtl,
.dxtlEditFormDisplayNode_pydc td.dxtl,
.dxtlCommandCell_pydc
{
    padding: 4px 6px;
    border-width: 0;
    white-space: nowrap;
    overflow: hidden;
}
.dxtlHeader_pydc .dxbButton_pydc,
.dxtlCommandCell_pydc .dxbButton_pydc
{
    margin: -2px 2px;
}
.dxtlHeader_pydc .dxbButton_pydc .dxb,
.dxtlCommandCel_pydc .dxbButton_pydc .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxtlEditFormDisplayNode_pydc td.dxtl,
.dxtlEditFormDisplayNode_pydc td.dxtl__cc
{
    border-bottom: 1px solid #d9dae0;
}
.dxtlInlineEditNode_pydc td.dxtl
{
    border-width: 0;
    padding: 1px;
}
/* Preview */
.dxtlPreview_pydc
{
    background: url('CssImages/PreviewBack.png') left top;
    color: #777777;
    padding: 14px;
    border-width: 0;
    overflow: hidden;
}
/* Footers */
.dxtlGroupFooter_pydc td.dxtl,
.dxtlFooter_pydc td.dxtl,
.dxtlControl_pydc .dxtlFSDC
{
    background-color: #f9f9fc;
}
.dxtlGroupFooter_pydc td.dxtl,
.dxtlFooter_pydc td.dxtl
{
    padding: 6px;
    white-space: nowrap;
    border-top: 1px solid #e1e1e9;
    border-right: 1px solid #e1e1e9;
    border-bottom: 1px solid #e1e1e9;
    border-left-color: #e1e1e9;
    border-left-style: solid;
    border-left-width: 0 !important;
    overflow: hidden;
}
.dxtlGroupFooter_pydc .dx-ar > br,
.dxtlFooter_pydc .dx-ar > br
{
    float: none;
}
/* Pagers */
.dxtlPagerTopPanel_pydc,
.dxtlPagerBottomPanel_pydc
{
    background: #f1f2f6 url('CssImages/PagerBack.png') left top;
}
.dxtlPagerTopPanel_pydc
{
    border-bottom: 1px solid #cacbd3;
}
.dxtlPagerBottomPanel_pydc
{
    border-top: 1px solid #cacbd3;
}
/* Toolbars */
.dxtlControl_pydc .dxctToolbar_pydc.dxm-main.dxtlCTTop
{
    border-bottom: 1px solid #cacbd3;
}
.dxtlControl_pydc .dxctToolbar_pydc.dxm-main.dxtlCTBottom
{
    border-top: 1px solid #cacbd3;
}
/* Editing */
.dxtlEditForm_pydc
{
    background: #f9f9fc none;
    border-width: 0;
    padding: 8px 10px 10px;
}
.dxtlEditFormCaption_pydc,
.dxtlEditFormEditCell_pydc
{
    padding: 4px;
}
.dxtlEditFormCaption_pydc
{
    padding-left: 10px;
    white-space: nowrap;
}
.dxtlError_pydc
{
    background-color: #ebecef;
    color: #ba1717;
    padding: 6px 10px;
    border-width: 0;
}
.dxtlPopupEditForm_pydc
{
    padding: 12px;
}
/* Links */
.dxtlControl_pydc a.dxeHyperlink:not([href]):not([onclick]):not(.dxbButtonSys)
{
    color: #201f35;
    text-decoration: none;
}
.dxtlControl_pydc a
{
    color: #1b3f91;
    text-decoration: none;
}
.dxtlControl_pydc a:hover
{
    text-decoration: underline;
}
.dxtlSelectedNode_pydc a,
.dxtlFocusedNode_pydc a
{
    color: #1b3f91;
    text-decoration: none;
}
.dxtlSelectedNode_pydc a:hover,
.dxtlFocusedNode_pydc a:hover
{
    text-decoration: underline;
}
.dxtlCommandCell_pydc a
{
    margin-right: 3px;
}
/* Loading panel */
.dxtlLoadingPanel_pydc
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #201f35;
    background-color: White;
    border: 1px solid #9da0aa;
}
.dxtlLoadingPanel_pydc td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 7px 10px;
}
.dxtlLoadingPanel_pydc .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
}
.dx-acc-r.dxtlLoadingPanel_pydc .dxlp-loadingImage:before
{
    content: url('../Web/Loading.gif');
}
/* Disabled */
.dxtlDisabled_pydc,
.dxtlDisabled_pydc .dxtl
{
    color: #b1b1b8;
    cursor: default;
}
/*batch*/
.dxtlControl_pydc .dxtlBatchEditDeletedNode_pydc,
.dxtlControl_pydc .dxtlBatchEditNewNode_pydc.dxtlBatchEditDeletedNode_pydc,
.dxtlControl_pydc .dxtlBatchEditDeletedNode_pydc .dxtlPreview_pydc
{
    background: #EFEFEF;
}
.dxtlControl_pydc td.dxtlBatchEditCell_pydc:not(.dxBatchEditCheckBoxCell)
{
    padding: 0 2px;
}
.dxtlControl_pydc td.dxtlBatchEditModifiedCell_pydc
{
    background: #d7f9c7;
}
.dxtlBatchEditDeletedNode_pydc > td:not(.dxtlCommandColumn)_pydc
{
    color: rgba(0,0,0,0.5);
}
.dxtlBatchEditDeletedNode_pydc td.dxtlBatchEditModifiedCell_pydc
{
    background: #eefbe7;
}
td.dxtlBatchEditModifiedCell_pydc.dxtlSelectedCell_pydc
{
    background: #c6efce;
}
.dxtlControl_pydc .dxtlBatchEditNewNode_pydc
{
    background: #F0FAEA;
}
.dxtlFocusedCell_pydc
{
    box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -webkit-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
    -moz-box-shadow: inset 2px 2px 0 #2292B1, inset -2px -2px 0 #2292B1;
}
.dxtlControl_pydc .dxtlErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxtlControl_pydc .dxtlErrorCell img
{
    margin: -3px 0;
}
/* Filtering */
.dxtlFilterRow_pydc
{
    background-color: #ebecef;
}
.dxtlFilterRow_pydc > td
{
    border-bottom: 1px Solid #abacb9;
    border-right: 1px Solid #abacb9;
    border-top-width: 0;
    border-left-width: 0;
    padding: 2px;
    overflow: hidden;
}
.dxtlSearchPanel_pydc
{
    padding: 7px;
    background-color: #ebecef;
    border-bottom: 1px solid #cacbd3;
}
.dxtlSearchPanel_pydc > table
{
    width: 70%;
    max-width: 450px;
}
*[dir="rtl"].dxtlControl_pydc .dxtlSearchPanel_pydc .dxbButton_pydc
{
    margin-left: 0;
    margin-right: 7px;
}
/* TODO remove (replace to command button style) */
.dxtlControl_pydc .dxtlSearchPanel_pydc .dxbButton_pydc
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxtlControl_pydc .dxtlSearchPanel_pydc .dxbButton_pydc .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxtlControl_pydc .dxbButton_pydc
{
    margin-left: 7px;
    margin-right: 0;
}
.dxtlFilterBar_pydc
{
    border-top: 1px solid #cacbd3;
    background: #f9f9fc none;
}
.dxtlFilterBar_pydc a
{
    color: #394ea2;
    text-decoration: underline;
}
.dxtlFilterBarCheckBoxCell_pydc
{
    padding: 0 7px 0 3px;
}
.dxtlFilterBarImageCell_pydc
{
    padding: 0 1px 0 3px;
    cursor: pointer;
}
.dxtlFilterBarExpressionCell_pydc
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxtlFilterBarClearButtonCell_pydc
{
    padding: 5px 6px 8px;
}
dxtlFilterBuilderMainArea_pydc
{
    background: white none;
    padding: 6px 2px;
}
.dxtlFilterBuilderButtonArea_pydc
{
    background: #ededed none;
    border-top: 1px solid #cacbd3;
    padding: 6px;
    white-space: nowrap;
}
.dxtlControl_pydc .dxtlHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxtlControl_pydc .dxtlHFDRC
{
    margin: 15px 15px 25px;
}
.dxtlControl_pydc .dxtlHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxtlControl_pydc .dxtlHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxtlControl_pydc .dxtlHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
