
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNNextPeriod_pydc { background-position: -142px -156px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNPrevPeriod_pydc { background-position: -211px -58px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextMonth_pydc { background-position: -211px -44px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextYear_pydc { background-position: -211px -87px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevMonth_pydc { background-position: -114px -156px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevYear_pydc { background-position: -86px -156px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_pydc { background-position: -100px -156px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_pydc { background-position: -211px -73px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_pydc { background-position: -184px -156px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_pydc { background-position: -170px -156px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_pydc { background-position: -128px -156px; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_pydc { background-position: -156px -156px; width: 12px; height: 12px } 
.dxeButtonEditButtonHover_pydc .dxEditors_edtClear_pydc { background-position: -45px -156px; width: 13px; height: 13px } 
.dxEditors_caRefresh_pydc { background-position: -225px 0px; width: 25px; height: 25px } 
.dxEditors_ddapply_pydc { background-position: -276px 0px; width: 22px; height: 22px } 
.dxEditors_ddclose_pydc { background-position: -252px 0px; width: 22px; height: 22px } 
.dxEditors_edtBinaryImageDelete_pydc { background-position: -191px 0px; width: 32px; height: 32px } 
.dxEditors_edtBinaryImageOpenDialog_pydc { background-position: -157px 0px; width: 32px; height: 32px } 
.dxEditors_edtCalendarFastNavBackToPrevMode_pydc { background-position: -432px -139px; width: 13px; height: 13px } 
.dxEditors_edtCalendarFastNavBackToPrevModeRtl_pydc { background-position: -477px -139px; width: 13px; height: 13px } 
.dxEditors_edtCalendarFNNextPeriod_pydc { background-position: -475px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarFNNextYear_pydc { background-position: -349px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarFNPrevPeriod_pydc { background-position: -370px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarFNPrevYear_pydc { background-position: -391px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarNextMonth_pydc { background-position: -433px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarNextMonthDisabled_pydc { background-position: -412px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarNextYear_pydc { background-position: -328px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarNextYearDisabled_pydc { background-position: -454px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarPrevMonth_pydc { background-position: -307px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarPrevMonthDisabled_pydc { background-position: -496px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarPrevYear_pydc { background-position: -510px 0px; width: 19px; height: 18px } 
.dxEditors_edtCalendarPrevYearDisabled_pydc { background-position: -517px -101px; width: 19px; height: 18px } 
.dxEditors_edtClear_pydc { background-position: -327px -139px; width: 13px; height: 13px } 
.dxEditors_edtDETSClockFace_pydc { background-position: 0px 0px; width: 119px; height: 119px } 
.dxEditors_edtDETSHourHand_pydc { background-position: -139px 0px; width: 7px; height: 70px } 
.dxEditors_edtDETSMinuteHand_pydc { background-position: -148px 0px; width: 7px; height: 70px } 
.dxEditors_edtDETSSecondHand_pydc { background-position: -121px 0px; width: 7px; height: 78px } 
.dxEditors_edtDETSSecondHand_pydc.IE8 { background-position: -130px 0px; width: 7px; height: 78px } 
.dxEditors_edtDropDown_pydc { background-position: -288px -71px; width: 10px; height: 13px } 
.dxEditors_edtDropDownDisabled_pydc { background-position: -288px -86px; width: 10px; height: 13px } 
.dxEditors_edtEllipsis_pydc { background-position: -60px -156px; width: 11px; height: 13px } 
.dxEditors_edtEllipsisDisabled_pydc { background-position: -73px -156px; width: 11px; height: 13px } 
.dxEditors_edtError_pydc { background-position: -17px -139px; width: 14px; height: 14px } 
.dxEditors_edtListBoxFilterBtn_pydc { background-position: -447px -139px; width: 13px; height: 13px } 
.dxEditors_edtListBoxFilterBtnDisabled_pydc { background-position: -507px -139px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtn_pydc { background-position: -30px -156px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnDisabled_pydc { background-position: -372px -139px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnRtl_pydc { background-position: -387px -139px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnRtlDisabled_pydc { background-position: -357px -139px; width: 13px; height: 13px } 
.dxEditors_edtRadioButtonChecked_pydc { background-position: -501px -121px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonCheckedDisabled_pydc { background-position: 0px -139px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonUnchecked_pydc { background-position: -467px -121px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonUncheckedDisabled_pydc { background-position: -484px -121px; width: 15px; height: 15px } 
.dxEditors_edtSpinEditDecrementImage_pydc { background-position: -243px -87px; width: 7px; height: 5px } 
.dxEditors_edtSpinEditDecrementImageDisabled_pydc { background-position: -243px -47px; width: 7px; height: 5px } 
.dxEditors_edtSpinEditIncrementImage_pydc { background-position: -243px -80px; width: 7px; height: 5px } 
.dxEditors_edtSpinEditIncrementImageDisabled_pydc { background-position: -243px -94px; width: 7px; height: 5px } 
.dxEditors_edtSpinEditLargeDecImage_pydc { background-position: -122px -112px; width: 5px; height: 7px } 
.dxEditors_edtSpinEditLargeDecImageDisabled_pydc { background-position: -243px -63px; width: 5px; height: 7px } 
.dxEditors_edtSpinEditLargeIncImage_pydc { background-position: -243px -54px; width: 5px; height: 7px } 
.dxEditors_edtSpinEditLargeIncImageDisabled_pydc { background-position: -531px 0px; width: 5px; height: 7px } 
.dxEditors_edtTBDecBtn_pydc { background-position: -267px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBDecBtnDisabled_pydc { background-position: -287px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBDecBtnHover_pydc { background-position: -227px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBDecBtnPressed_pydc { background-position: -247px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBIncBtn_pydc { background-position: -167px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBIncBtnDisabled_pydc { background-position: -147px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBIncBtnHover_pydc { background-position: -207px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBIncBtnPressed_pydc { background-position: -187px -101px; width: 18px; height: 18px } 
.dxEditors_edtTokenBoxTokenRemoveButton_pydc { background-position: -518px -121px; width: 15px; height: 15px } 
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_pydc { background-position: -450px -121px; width: 15px; height: 15px } 
.dxEditors_fcadd_pydc { background-position: -402px -139px; width: 13px; height: 13px } 
.dxEditors_fcaddhot_pydc { background-position: 0px -156px; width: 13px; height: 13px } 
.dxEditors_fcdatetimeoperators_pydc { background-position: -36px -121px; width: 16px; height: 16px } 
.dxEditors_fcgroupaddcondition_pydc { background-position: -462px -83px; width: 16px; height: 16px } 
.dxEditors_fcgroupaddgroup_pydc { background-position: -270px -121px; width: 16px; height: 16px } 
.dxEditors_fcgroupand_pydc { background-position: -162px -121px; width: 16px; height: 16px } 
.dxEditors_fcgroupnotand_pydc { background-position: -144px -121px; width: 16px; height: 16px } 
.dxEditors_fcgroupnotor_pydc { background-position: -180px -121px; width: 16px; height: 16px } 
.dxEditors_fcgroupor_pydc { background-position: -18px -121px; width: 16px; height: 16px } 
.dxEditors_fcgroupremove_pydc { background-position: -360px -121px; width: 16px; height: 16px } 
.dxEditors_fcopany_pydc { background-position: -90px -121px; width: 16px; height: 16px } 
.dxEditors_fcopavg_pydc { background-position: -72px -121px; width: 16px; height: 16px } 
.dxEditors_fcopbegin_pydc { background-position: -54px -121px; width: 16px; height: 16px } 
.dxEditors_fcopbetween_pydc { background-position: -510px -47px; width: 16px; height: 16px } 
.dxEditors_fcopblank_pydc { background-position: -498px -83px; width: 16px; height: 16px } 
.dxEditors_fcopcontain_pydc { background-position: -324px -121px; width: 16px; height: 16px } 
.dxEditors_fcopcount_pydc { background-position: -390px -83px; width: 16px; height: 16px } 
.dxEditors_fcopend_pydc { background-position: -252px -29px; width: 16px; height: 16px } 
.dxEditors_fcopequal_pydc { background-position: -225px -83px; width: 16px; height: 16px } 
.dxEditors_fcopexists_pydc { background-position: -300px -83px; width: 16px; height: 16px } 
.dxEditors_fcopgreater_pydc { background-position: -225px -65px; width: 16px; height: 16px } 
.dxEditors_fcopgreaterorequal_pydc { background-position: -157px -65px; width: 16px; height: 16px } 
.dxEditors_fcopisapril_pydc { background-position: -252px -65px; width: 16px; height: 16px } 
.dxEditors_fcopisaugust_pydc { background-position: -175px -54px; width: 16px; height: 16px } 
.dxEditors_fcopisbeyondthisyear_pydc { background-position: -300px -47px; width: 16px; height: 16px } 
.dxEditors_fcopisdecember_pydc { background-position: -193px -54px; width: 16px; height: 16px } 
.dxEditors_fcopisearlierthismonth_pydc { background-position: -225px -47px; width: 16px; height: 16px } 
.dxEditors_fcopisearlierthisweek_pydc { background-position: -157px -47px; width: 16px; height: 16px } 
.dxEditors_fcopisearlierthisyear_pydc { background-position: -252px -47px; width: 16px; height: 16px } 
.dxEditors_fcopisfebruary_pydc { background-position: -225px -29px; width: 16px; height: 16px } 
.dxEditors_fcopisjanuary_pydc { background-position: -300px -65px; width: 16px; height: 16px } 
.dxEditors_fcopisjuly_pydc { background-position: -252px -83px; width: 16px; height: 16px } 
.dxEditors_fcopisjune_pydc { background-position: -139px -83px; width: 16px; height: 16px } 
.dxEditors_fcopislastmonth_pydc { background-position: 0px -121px; width: 16px; height: 16px } 
.dxEditors_fcopislastweek_pydc { background-position: -121px -83px; width: 16px; height: 16px } 
.dxEditors_fcopislastyear_pydc { background-position: -252px -121px; width: 16px; height: 16px } 
.dxEditors_fcopislaterthismonth_pydc { background-position: -342px -121px; width: 16px; height: 16px } 
.dxEditors_fcopislaterthisweek_pydc { background-position: -288px -121px; width: 16px; height: 16px } 
.dxEditors_fcopislaterthisyear_pydc { background-position: -306px -121px; width: 16px; height: 16px } 
.dxEditors_fcopismarch_pydc { background-position: -108px -121px; width: 16px; height: 16px } 
.dxEditors_fcopismay_pydc { background-position: -216px -121px; width: 16px; height: 16px } 
.dxEditors_fcopisnextmonth_pydc { background-position: -300px -29px; width: 16px; height: 16px } 
.dxEditors_fcopisnextweek_pydc { background-position: -480px -83px; width: 16px; height: 16px } 
.dxEditors_fcopisnextyear_pydc { background-position: -175px -83px; width: 16px; height: 16px } 
.dxEditors_fcopisnovember_pydc { background-position: -193px -83px; width: 16px; height: 16px } 
.dxEditors_fcopisoctober_pydc { background-position: -270px -83px; width: 16px; height: 16px } 
.dxEditors_fcopispriorthisyear_pydc { background-position: -318px -83px; width: 16px; height: 16px } 
.dxEditors_fcopissameday_pydc { background-position: -336px -83px; width: 16px; height: 16px } 
.dxEditors_fcopisseptember_pydc { background-position: -354px -83px; width: 16px; height: 16px } 
.dxEditors_fcopisthismonth_pydc { background-position: -372px -83px; width: 16px; height: 16px } 
.dxEditors_fcopisthisweek_pydc { background-position: -426px -83px; width: 16px; height: 16px } 
.dxEditors_fcopisthisyear_pydc { background-position: -408px -83px; width: 16px; height: 16px } 
.dxEditors_fcopistoday_pydc { background-position: -193px -36px; width: 16px; height: 16px } 
.dxEditors_fcopistomorrow_pydc { background-position: -270px -36px; width: 16px; height: 16px } 
.dxEditors_fcopisyeartodate_pydc { background-position: -175px -36px; width: 16px; height: 16px } 
.dxEditors_fcopisyesterday_pydc { background-position: -444px -83px; width: 16px; height: 16px } 
.dxEditors_fcopless_pydc { background-position: -126px -121px; width: 16px; height: 16px } 
.dxEditors_fcoplessorequal_pydc { background-position: -234px -121px; width: 16px; height: 16px } 
.dxEditors_fcoplike_pydc { background-position: -510px -29px; width: 16px; height: 16px } 
.dxEditors_fcopmax_pydc { background-position: -198px -121px; width: 16px; height: 16px } 
.dxEditors_fcopmin_pydc { background-position: -378px -121px; width: 16px; height: 16px } 
.dxEditors_fcopnotany_pydc { background-position: -432px -121px; width: 16px; height: 16px } 
.dxEditors_fcopnotbetween_pydc { background-position: -396px -121px; width: 16px; height: 16px } 
.dxEditors_fcopnotblank_pydc { background-position: -129px -103px; width: 16px; height: 16px } 
.dxEditors_fcopnotcontain_pydc { background-position: -157px -83px; width: 16px; height: 16px } 
.dxEditors_fcopnotequal_pydc { background-position: -414px -121px; width: 16px; height: 16px } 
.dxEditors_fcopnotlike_pydc { background-position: -516px -83px; width: 16px; height: 16px } 
.dxEditors_fcopsum_pydc { background-position: -510px -65px; width: 16px; height: 16px } 
.dxEditors_fcoptypefield_pydc { background-position: -15px -156px; width: 13px; height: 13px } 
.dxEditors_fcoptypefieldhot_pydc { background-position: -342px -139px; width: 13px; height: 13px } 
.dxEditors_fcoptypevalue_pydc { background-position: -417px -139px; width: 13px; height: 13px } 
.dxEditors_fcoptypevaluehot_pydc { background-position: -522px -139px; width: 13px; height: 13px } 
.dxEditors_fcremove_pydc { background-position: -492px -139px; width: 13px; height: 13px } 
.dxEditors_fcremovehot_pydc { background-position: -462px -139px; width: 13px; height: 13px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_pydc { background-position: -480px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_pydc { background-position: -465px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_pydc { background-position: -300px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_pydc { background-position: -360px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_pydc { background-position: -495px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_pydc { background-position: -315px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_pydc { background-position: -96px -139px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_pydc { background-position: -180px -139px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_pydc { background-position: -222px -139px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_pydc { background-position: -243px -139px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_pydc { background-position: -201px -139px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_pydc { background-position: -138px -139px; width: 19px; height: 13px } 
.dxeTBHSys .dxEditors_edtTBMainDH_pydc { background-position: -390px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_pydc { background-position: -330px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBMainDHHover_pydc { background-position: -345px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_pydc { background-position: -375px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDH_pydc { background-position: -450px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_pydc { background-position: -405px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_pydc { background-position: -420px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_pydc { background-position: -435px 0px; width: 13px; height: 19px } 
.dxeTBVSys .dxEditors_edtTBMainDH_pydc { background-position: -117px -139px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_pydc { background-position: -75px -139px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHHover_pydc { background-position: -306px -139px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHPressed_pydc { background-position: -54px -139px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDH_pydc { background-position: -264px -139px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_pydc { background-position: -33px -139px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_pydc { background-position: -159px -139px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_pydc { background-position: -285px -139px; width: 19px; height: 13px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_pydc,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_pydc
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_pydc,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_pydc
{
	z-index: 7;
}
.dxEditors_edtError_pydc,
.dxEditors_edtCalendarPrevYear_pydc,
.dxEditors_edtCalendarPrevYearDisabled_pydc,
.dxEditors_edtCalendarPrevMonth_pydc,
.dxEditors_edtCalendarPrevMonthDisabled_pydc,
.dxEditors_edtCalendarNextMonth_pydc,
.dxEditors_edtCalendarNextMonthDisabled_pydc,
.dxEditors_edtCalendarNextYear_pydc,
.dxEditors_edtCalendarNextYearDisabled_pydc,
.dxEditors_edtCalendarFNPrevYear_pydc,
.dxEditors_edtCalendarFNNextYear_pydc,
.dxEditors_edtCalendarFNPrevPeriod_pydc,
.dxEditors_edtCalendarFNNextPeriod_pydc,
.dxEditors_edtEllipsis_pydc,
.dxEditors_edtEllipsisDisabled_pydc,
.dxEditors_edtDropDown_pydc,
.dxEditors_edtDropDownDisabled_pydc,
.dxEditors_edtSpinEditIncrementImage_pydc,
.dxEditors_edtSpinEditIncrementImageDisabled_pydc,
.dxEditors_edtSpinEditDecrementImage_pydc,
.dxEditors_edtSpinEditDecrementImageDisabled_pydc,
.dxEditors_edtSpinEditLargeIncImage_pydc,
.dxEditors_edtSpinEditLargeIncImageDisabled_pydc,
.dxEditors_edtSpinEditLargeDecImage_pydc,
.dxEditors_edtSpinEditLargeDecImageDisabled_pydc
{
	display:block;
    margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_pydc
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_pydc
{
    margin-left: 8px;
}



