.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNNextPeriod_pydc:before { left: -142px; top: -156px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNPrevPeriod_pydc:before { left: -211px; top: -58px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextMonth_pydc:before { left: -211px; top: -44px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextYear_pydc:before { left: -211px; top: -87px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevMonth_pydc:before { left: -114px; top: -156px; }
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevYear_pydc:before { left: -86px; top: -156px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_pydc:before { left: -100px; top: -156px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_pydc:before { left: -211px; top: -73px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_pydc:before { left: -184px; top: -156px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_pydc:before { left: -170px; top: -156px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_pydc:before { left: -128px; top: -156px; }
.dx-acc-r .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_pydc:before { left: -156px; top: -156px; }
.dx-acc-r .dxeButtonEditButtonHover_pydc .dxEditors_edtClear_pydc:before { left: -45px; top: -156px; }
.dx-acc-r .dxEditors_caRefresh_pydc:before { left: -225px; top: 0px; }
.dx-acc-r .dxEditors_ddapply_pydc:before { left: -276px; top: 0px; }
.dx-acc-r .dxEditors_ddclose_pydc:before { left: -252px; top: 0px; }
.dx-acc-r .dxEditors_edtBinaryImageDelete_pydc:before { left: -191px; top: 0px; }
.dx-acc-r .dxEditors_edtBinaryImageOpenDialog_pydc:before { left: -157px; top: 0px; }
.dx-acc-r .dxEditors_edtCalendarFastNavBackToPrevMode_pydc:before { left: -432px; top: -139px; }
.dx-acc-r .dxEditors_edtCalendarFastNavBackToPrevModeRtl_pydc:before { left: -477px; top: -139px; }
.dx-acc-r .dxEditors_edtCalendarFNNextPeriod_pydc:before { left: -475px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarFNNextYear_pydc:before { left: -349px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarFNPrevPeriod_pydc:before { left: -370px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarFNPrevYear_pydc:before { left: -391px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarNextMonth_pydc:before { left: -433px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarNextMonthDisabled_pydc:before { left: -412px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarNextYear_pydc:before { left: -328px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarNextYearDisabled_pydc:before { left: -454px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarPrevMonth_pydc:before { left: -307px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarPrevMonthDisabled_pydc:before { left: -496px; top: -101px; }
.dx-acc-r .dxEditors_edtCalendarPrevYear_pydc:before { left: -510px; top: 0px; }
.dx-acc-r .dxEditors_edtCalendarPrevYearDisabled_pydc:before { left: -517px; top: -101px; }
.dx-acc-r .dxEditors_edtClear_pydc:before { left: -327px; top: -139px; }
.dx-acc-r .dxEditors_edtDETSClockFace_pydc:before { left: 0px; top: 0px; }
.dx-acc-r .dxEditors_edtDETSHourHand_pydc:before { left: -139px; top: 0px; }
.dx-acc-r .dxEditors_edtDETSMinuteHand_pydc:before { left: -148px; top: 0px; }
.dx-acc-r .dxEditors_edtDETSSecondHand_pydc:before { left: -121px; top: 0px; }
.dx-acc-r .dxEditors_edtDETSSecondHand_pydc.IE8:before { left: -130px; top: 0px; }
.dx-acc-r .dxEditors_edtDropDown_pydc:before { left: -288px; top: -71px; }
.dx-acc-r .dxEditors_edtDropDownDisabled_pydc:before { left: -288px; top: -86px; }
.dx-acc-r .dxEditors_edtEllipsis_pydc:before { left: -60px; top: -156px; }
.dx-acc-r .dxEditors_edtEllipsisDisabled_pydc:before { left: -73px; top: -156px; }
.dx-acc-r .dxEditors_edtError_pydc:before { left: -17px; top: -139px; }
.dx-acc-r .dxEditors_edtListBoxFilterBtn_pydc:before { left: -447px; top: -139px; }
.dx-acc-r .dxEditors_edtListBoxFilterBtnDisabled_pydc:before { left: -507px; top: -139px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtn_pydc:before { left: -30px; top: -156px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtnDisabled_pydc:before { left: -372px; top: -139px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtnRtl_pydc:before { left: -387px; top: -139px; }
.dx-acc-r .dxEditors_edtListBoxHideFilterBtnRtlDisabled_pydc:before { left: -357px; top: -139px; }
.dx-acc-r .dxEditors_edtRadioButtonChecked_pydc:before { left: -501px; top: -121px; }
.dx-acc-r .dxEditors_edtRadioButtonCheckedDisabled_pydc:before { left: 0px; top: -139px; }
.dx-acc-r .dxEditors_edtRadioButtonUnchecked_pydc:before { left: -467px; top: -121px; }
.dx-acc-r .dxEditors_edtRadioButtonUncheckedDisabled_pydc:before { left: -484px; top: -121px; }
.dx-acc-r .dxEditors_edtSpinEditDecrementImage_pydc:before { left: -243px; top: -87px; }
.dx-acc-r .dxEditors_edtSpinEditDecrementImageDisabled_pydc:before { left: -243px; top: -47px; }
.dx-acc-r .dxEditors_edtSpinEditIncrementImage_pydc:before { left: -243px; top: -80px; }
.dx-acc-r .dxEditors_edtSpinEditIncrementImageDisabled_pydc:before { left: -243px; top: -94px; }
.dx-acc-r .dxEditors_edtSpinEditLargeDecImage_pydc:before { left: -122px; top: -112px; }
.dx-acc-r .dxEditors_edtSpinEditLargeDecImageDisabled_pydc:before { left: -243px; top: -63px; }
.dx-acc-r .dxEditors_edtSpinEditLargeIncImage_pydc:before { left: -243px; top: -54px; }
.dx-acc-r .dxEditors_edtSpinEditLargeIncImageDisabled_pydc:before { left: -531px; top: 0px; }
.dx-acc-r .dxEditors_edtTBDecBtn_pydc:before { left: -267px; top: -101px; }
.dx-acc-r .dxEditors_edtTBDecBtnDisabled_pydc:before { left: -287px; top: -101px; }
.dx-acc-r .dxEditors_edtTBDecBtnHover_pydc:before { left: -227px; top: -101px; }
.dx-acc-r .dxEditors_edtTBDecBtnPressed_pydc:before { left: -247px; top: -101px; }
.dx-acc-r .dxEditors_edtTBIncBtn_pydc:before { left: -167px; top: -101px; }
.dx-acc-r .dxEditors_edtTBIncBtnDisabled_pydc:before { left: -147px; top: -101px; }
.dx-acc-r .dxEditors_edtTBIncBtnHover_pydc:before { left: -207px; top: -101px; }
.dx-acc-r .dxEditors_edtTBIncBtnPressed_pydc:before { left: -187px; top: -101px; }
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButton_pydc:before { left: -518px; top: -121px; }
.dx-acc-r .dxEditors_edtTokenBoxTokenRemoveButtonDisabled_pydc:before { left: -450px; top: -121px; }
.dx-acc-r .dxEditors_fcadd_pydc:before { left: -402px; top: -139px; }
.dx-acc-r .dxEditors_fcaddhot_pydc:before { left: 0px; top: -156px; }
.dx-acc-r .dxEditors_fcdatetimeoperators_pydc:before { left: -36px; top: -121px; }
.dx-acc-r .dxEditors_fcgroupaddcondition_pydc:before { left: -462px; top: -83px; }
.dx-acc-r .dxEditors_fcgroupaddgroup_pydc:before { left: -270px; top: -121px; }
.dx-acc-r .dxEditors_fcgroupand_pydc:before { left: -162px; top: -121px; }
.dx-acc-r .dxEditors_fcgroupnotand_pydc:before { left: -144px; top: -121px; }
.dx-acc-r .dxEditors_fcgroupnotor_pydc:before { left: -180px; top: -121px; }
.dx-acc-r .dxEditors_fcgroupor_pydc:before { left: -18px; top: -121px; }
.dx-acc-r .dxEditors_fcgroupremove_pydc:before { left: -360px; top: -121px; }
.dx-acc-r .dxEditors_fcopany_pydc:before { left: -90px; top: -121px; }
.dx-acc-r .dxEditors_fcopavg_pydc:before { left: -72px; top: -121px; }
.dx-acc-r .dxEditors_fcopbegin_pydc:before { left: -54px; top: -121px; }
.dx-acc-r .dxEditors_fcopbetween_pydc:before { left: -510px; top: -47px; }
.dx-acc-r .dxEditors_fcopblank_pydc:before { left: -498px; top: -83px; }
.dx-acc-r .dxEditors_fcopcontain_pydc:before { left: -324px; top: -121px; }
.dx-acc-r .dxEditors_fcopcount_pydc:before { left: -390px; top: -83px; }
.dx-acc-r .dxEditors_fcopend_pydc:before { left: -252px; top: -29px; }
.dx-acc-r .dxEditors_fcopequal_pydc:before { left: -225px; top: -83px; }
.dx-acc-r .dxEditors_fcopexists_pydc:before { left: -300px; top: -83px; }
.dx-acc-r .dxEditors_fcopgreater_pydc:before { left: -225px; top: -65px; }
.dx-acc-r .dxEditors_fcopgreaterorequal_pydc:before { left: -157px; top: -65px; }
.dx-acc-r .dxEditors_fcopisapril_pydc:before { left: -252px; top: -65px; }
.dx-acc-r .dxEditors_fcopisaugust_pydc:before { left: -175px; top: -54px; }
.dx-acc-r .dxEditors_fcopisbeyondthisyear_pydc:before { left: -300px; top: -47px; }
.dx-acc-r .dxEditors_fcopisdecember_pydc:before { left: -193px; top: -54px; }
.dx-acc-r .dxEditors_fcopisearlierthismonth_pydc:before { left: -225px; top: -47px; }
.dx-acc-r .dxEditors_fcopisearlierthisweek_pydc:before { left: -157px; top: -47px; }
.dx-acc-r .dxEditors_fcopisearlierthisyear_pydc:before { left: -252px; top: -47px; }
.dx-acc-r .dxEditors_fcopisfebruary_pydc:before { left: -225px; top: -29px; }
.dx-acc-r .dxEditors_fcopisjanuary_pydc:before { left: -300px; top: -65px; }
.dx-acc-r .dxEditors_fcopisjuly_pydc:before { left: -252px; top: -83px; }
.dx-acc-r .dxEditors_fcopisjune_pydc:before { left: -139px; top: -83px; }
.dx-acc-r .dxEditors_fcopislastmonth_pydc:before { left: 0px; top: -121px; }
.dx-acc-r .dxEditors_fcopislastweek_pydc:before { left: -121px; top: -83px; }
.dx-acc-r .dxEditors_fcopislastyear_pydc:before { left: -252px; top: -121px; }
.dx-acc-r .dxEditors_fcopislaterthismonth_pydc:before { left: -342px; top: -121px; }
.dx-acc-r .dxEditors_fcopislaterthisweek_pydc:before { left: -288px; top: -121px; }
.dx-acc-r .dxEditors_fcopislaterthisyear_pydc:before { left: -306px; top: -121px; }
.dx-acc-r .dxEditors_fcopismarch_pydc:before { left: -108px; top: -121px; }
.dx-acc-r .dxEditors_fcopismay_pydc:before { left: -216px; top: -121px; }
.dx-acc-r .dxEditors_fcopisnextmonth_pydc:before { left: -300px; top: -29px; }
.dx-acc-r .dxEditors_fcopisnextweek_pydc:before { left: -480px; top: -83px; }
.dx-acc-r .dxEditors_fcopisnextyear_pydc:before { left: -175px; top: -83px; }
.dx-acc-r .dxEditors_fcopisnovember_pydc:before { left: -193px; top: -83px; }
.dx-acc-r .dxEditors_fcopisoctober_pydc:before { left: -270px; top: -83px; }
.dx-acc-r .dxEditors_fcopispriorthisyear_pydc:before { left: -318px; top: -83px; }
.dx-acc-r .dxEditors_fcopissameday_pydc:before { left: -336px; top: -83px; }
.dx-acc-r .dxEditors_fcopisseptember_pydc:before { left: -354px; top: -83px; }
.dx-acc-r .dxEditors_fcopisthismonth_pydc:before { left: -372px; top: -83px; }
.dx-acc-r .dxEditors_fcopisthisweek_pydc:before { left: -426px; top: -83px; }
.dx-acc-r .dxEditors_fcopisthisyear_pydc:before { left: -408px; top: -83px; }
.dx-acc-r .dxEditors_fcopistoday_pydc:before { left: -193px; top: -36px; }
.dx-acc-r .dxEditors_fcopistomorrow_pydc:before { left: -270px; top: -36px; }
.dx-acc-r .dxEditors_fcopisyeartodate_pydc:before { left: -175px; top: -36px; }
.dx-acc-r .dxEditors_fcopisyesterday_pydc:before { left: -444px; top: -83px; }
.dx-acc-r .dxEditors_fcopless_pydc:before { left: -126px; top: -121px; }
.dx-acc-r .dxEditors_fcoplessorequal_pydc:before { left: -234px; top: -121px; }
.dx-acc-r .dxEditors_fcoplike_pydc:before { left: -510px; top: -29px; }
.dx-acc-r .dxEditors_fcopmax_pydc:before { left: -198px; top: -121px; }
.dx-acc-r .dxEditors_fcopmin_pydc:before { left: -378px; top: -121px; }
.dx-acc-r .dxEditors_fcopnotany_pydc:before { left: -432px; top: -121px; }
.dx-acc-r .dxEditors_fcopnotbetween_pydc:before { left: -396px; top: -121px; }
.dx-acc-r .dxEditors_fcopnotblank_pydc:before { left: -129px; top: -103px; }
.dx-acc-r .dxEditors_fcopnotcontain_pydc:before { left: -157px; top: -83px; }
.dx-acc-r .dxEditors_fcopnotequal_pydc:before { left: -414px; top: -121px; }
.dx-acc-r .dxEditors_fcopnotlike_pydc:before { left: -516px; top: -83px; }
.dx-acc-r .dxEditors_fcopsum_pydc:before { left: -510px; top: -65px; }
.dx-acc-r .dxEditors_fcoptypefield_pydc:before { left: -15px; top: -156px; }
.dx-acc-r .dxEditors_fcoptypefieldhot_pydc:before { left: -342px; top: -139px; }
.dx-acc-r .dxEditors_fcoptypevalue_pydc:before { left: -417px; top: -139px; }
.dx-acc-r .dxEditors_fcoptypevaluehot_pydc:before { left: -522px; top: -139px; }
.dx-acc-r .dxEditors_fcremove_pydc:before { left: -492px; top: -139px; }
.dx-acc-r .dxEditors_fcremovehot_pydc:before { left: -462px; top: -139px; }
.dx-acc-r .dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_pydc:before { left: -480px; top: 0px; }
.dx-acc-r .dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_pydc:before { left: -465px; top: 0px; }
.dx-acc-r .dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_pydc:before { left: -300px; top: 0px; }
.dx-acc-r .dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_pydc:before { left: -360px; top: 0px; }
.dx-acc-r .dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_pydc:before { left: -495px; top: 0px; }
.dx-acc-r .dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_pydc:before { left: -315px; top: 0px; }
.dx-acc-r .dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_pydc:before { left: -96px; top: -139px; }
.dx-acc-r .dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_pydc:before { left: -180px; top: -139px; }
.dx-acc-r .dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_pydc:before { left: -222px; top: -139px; }
.dx-acc-r .dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_pydc:before { left: -243px; top: -139px; }
.dx-acc-r .dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_pydc:before { left: -201px; top: -139px; }
.dx-acc-r .dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_pydc:before { left: -138px; top: -139px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDH_pydc:before { left: -390px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHDisabled_pydc:before { left: -330px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHHover_pydc:before { left: -345px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBMainDHPressed_pydc:before { left: -375px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDH_pydc:before { left: -450px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_pydc:before { left: -405px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_pydc:before { left: -420px; top: 0px; }
.dx-acc-r .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_pydc:before { left: -435px; top: 0px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDH_pydc:before { left: -117px; top: -139px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHDisabled_pydc:before { left: -75px; top: -139px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHHover_pydc:before { left: -306px; top: -139px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBMainDHPressed_pydc:before { left: -54px; top: -139px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDH_pydc:before { left: -264px; top: -139px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_pydc:before { left: -33px; top: -139px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_pydc:before { left: -159px; top: -139px; }
.dx-acc-r .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_pydc:before { left: -285px; top: -139px; }

