
dxSpriteWidth { width : 538 }

.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNNextPeriod_pydc, .dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNPrevPeriod_pydc, .dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextMonth_pydc, .dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextYear_pydc, .dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevMonth_pydc, .dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevYear_pydc, .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_pydc, .dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_pydc, .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_pydc, .dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_pydc, .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_pydc, .dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_pydc, .dxEditors_ddapply_pydc, .dxEditors_ddclose_pydc, .dxEditors_fcdatetimeoperators_pydc, .dxEditors_fcgroupaddcondition_pydc, .dxEditors_fcgroupaddgroup_pydc, .dxEditors_fcgroupand_pydc, .dxEditors_fcgroupnotand_pydc, .dxEditors_fcgroupnotor_pydc, .dxEditors_fcgroupor_pydc, .dxEditors_fcgroupremove_pydc, .dxEditors_fcopany_pydc, .dxEditors_fcopavg_pydc, .dxEditors_fcopbegin_pydc, .dxEditors_fcopbetween_pydc, .dxEditors_fcopblank_pydc, .dxEditors_fcopcontain_pydc, .dxEditors_fcopcount_pydc, .dxEditors_fcopend_pydc, .dxEditors_fcopequal_pydc, .dxEditors_fcopexists_pydc, .dxEditors_fcopgreater_pydc, .dxEditors_fcopgreaterorequal_pydc, .dxEditors_fcopisapril_pydc, .dxEditors_fcopisaugust_pydc, .dxEditors_fcopisbeyondthisyear_pydc, .dxEditors_fcopisdecember_pydc, .dxEditors_fcopisearlierthismonth_pydc, .dxEditors_fcopisearlierthisweek_pydc, .dxEditors_fcopisearlierthisyear_pydc, .dxEditors_fcopisfebruary_pydc, .dxEditors_fcopisjanuary_pydc, .dxEditors_fcopisjuly_pydc, .dxEditors_fcopisjune_pydc, .dxEditors_fcopislastmonth_pydc, .dxEditors_fcopislastweek_pydc, .dxEditors_fcopislastyear_pydc, .dxEditors_fcopislaterthismonth_pydc, .dxEditors_fcopislaterthisweek_pydc, .dxEditors_fcopislaterthisyear_pydc, .dxEditors_fcopismarch_pydc, .dxEditors_fcopismay_pydc, .dxEditors_fcopisnextmonth_pydc, .dxEditors_fcopisnextweek_pydc, .dxEditors_fcopisnextyear_pydc, .dxEditors_fcopisnovember_pydc, .dxEditors_fcopisoctober_pydc, .dxEditors_fcopispriorthisyear_pydc, .dxEditors_fcopissameday_pydc, .dxEditors_fcopisseptember_pydc, .dxEditors_fcopisthismonth_pydc, .dxEditors_fcopisthisweek_pydc, .dxEditors_fcopisthisyear_pydc, .dxEditors_fcopistoday_pydc, .dxEditors_fcopistomorrow_pydc, .dxEditors_fcopisyeartodate_pydc, .dxEditors_fcopisyesterday_pydc, .dxEditors_fcopless_pydc, .dxEditors_fcoplessorequal_pydc, .dxEditors_fcoplike_pydc, .dxEditors_fcopmax_pydc, .dxEditors_fcopmin_pydc, .dxEditors_fcopnotany_pydc, .dxEditors_fcopnotbetween_pydc, .dxEditors_fcopnotblank_pydc, .dxEditors_fcopnotcontain_pydc, .dxEditors_fcopnotequal_pydc, .dxEditors_fcopnotlike_pydc, .dxEditors_fcopsum_pydc { background-image: url('sprite.svg'); background-repeat: no-repeat; background-color: transparent } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNNextPeriod_pydc { background-position: -320px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarFNPrevPeriod_pydc { background-position: -306px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextMonth_pydc { background-position: -208px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarNextYear_pydc { background-position: -222px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevMonth_pydc { background-position: -194px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dx-acc-r .dxEditors_edtCalendarPrevYear_pydc { background-position: -292px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarFNNextPeriod_pydc { background-position: -180px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarFNPrevPeriod_pydc { background-position: -264px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarNextMonth_pydc { background-position: -278px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarNextYear_pydc { background-position: -236px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevMonth_pydc { background-position: -522px -24px; background-size: 538px auto; width: 12px; height: 12px } 
.dxdd-root.dxmodalSys .dxEditors_edtCalendarPrevYear_pydc { background-position: -250px -42px; background-size: 538px auto; width: 12px; height: 12px } 
.dxEditors_ddapply_pydc { background-position: -24px 0px; background-size: 538px auto; width: 22px; height: 22px } 
.dxEditors_ddclose_pydc { background-position: 0px 0px; background-size: 538px auto; width: 22px; height: 22px } 
.dxEditors_fcdatetimeoperators_pydc { background-position: -72px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcgroupaddcondition_pydc { background-position: -90px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcgroupaddgroup_pydc { background-position: -108px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcgroupand_pydc { background-position: -126px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcgroupnotand_pydc { background-position: -144px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcgroupnotor_pydc { background-position: -360px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcgroupor_pydc { background-position: -342px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcgroupremove_pydc { background-position: -324px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopany_pydc { background-position: -144px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopavg_pydc { background-position: -18px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopbegin_pydc { background-position: -36px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopbetween_pydc { background-position: -54px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopblank_pydc { background-position: -90px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopcontain_pydc { background-position: -72px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopcount_pydc { background-position: -270px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopend_pydc { background-position: -252px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopequal_pydc { background-position: -234px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopexists_pydc { background-position: -216px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopgreater_pydc { background-position: -288px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopgreaterorequal_pydc { background-position: -198px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisapril_pydc { background-position: -306px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisaugust_pydc { background-position: -180px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisbeyondthisyear_pydc { background-position: -162px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisdecember_pydc { background-position: -126px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisearlierthismonth_pydc { background-position: -108px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisearlierthisweek_pydc { background-position: -48px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisearlierthisyear_pydc { background-position: -432px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisfebruary_pydc { background-position: -162px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisjanuary_pydc { background-position: -390px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisjuly_pydc { background-position: -318px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisjune_pydc { background-position: -300px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopislastmonth_pydc { background-position: -282px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopislastweek_pydc { background-position: -264px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopislastyear_pydc { background-position: -246px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopislaterthismonth_pydc { background-position: -228px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopislaterthisweek_pydc { background-position: -210px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopislaterthisyear_pydc { background-position: -192px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopismarch_pydc { background-position: -174px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopismay_pydc { background-position: -156px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisnextmonth_pydc { background-position: -138px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisnextweek_pydc { background-position: -120px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisnextyear_pydc { background-position: -102px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisnovember_pydc { background-position: -84px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisoctober_pydc { background-position: -66px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopispriorthisyear_pydc { background-position: -336px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopissameday_pydc { background-position: -354px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisseptember_pydc { background-position: 0px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisthismonth_pydc { background-position: -372px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisthisweek_pydc { background-position: -504px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisthisyear_pydc { background-position: -486px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopistoday_pydc { background-position: -468px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopistomorrow_pydc { background-position: -450px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisyeartodate_pydc { background-position: -18px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopisyesterday_pydc { background-position: -414px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopless_pydc { background-position: 0px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcoplessorequal_pydc { background-position: -396px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcoplike_pydc { background-position: -378px -24px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopmax_pydc { background-position: -516px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopmin_pydc { background-position: -498px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopnotany_pydc { background-position: -480px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopnotbetween_pydc { background-position: -462px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopnotblank_pydc { background-position: -444px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopnotcontain_pydc { background-position: -426px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopnotequal_pydc { background-position: -408px 0px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopnotlike_pydc { background-position: -54px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxEditors_fcopsum_pydc { background-position: -36px -42px; background-size: 538px auto; width: 16px; height: 16px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_pydc,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_pydc
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_pydc,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_pydc
{
	z-index: 7;
}
.dxEditors_edtError_pydc,
.dxEditors_edtCalendarPrevYear_pydc,
.dxEditors_edtCalendarPrevYearDisabled_pydc,
.dxEditors_edtCalendarPrevMonth_pydc,
.dxEditors_edtCalendarPrevMonthDisabled_pydc,
.dxEditors_edtCalendarNextMonth_pydc,
.dxEditors_edtCalendarNextMonthDisabled_pydc,
.dxEditors_edtCalendarNextYear_pydc,
.dxEditors_edtCalendarNextYearDisabled_pydc,
.dxEditors_edtCalendarFNPrevYear_pydc,
.dxEditors_edtCalendarFNNextYear_pydc,
.dxEditors_edtCalendarFNPrevPeriod_pydc,
.dxEditors_edtCalendarFNNextPeriod_pydc,
.dxEditors_edtEllipsis_pydc,
.dxEditors_edtEllipsisDisabled_pydc,
.dxEditors_edtDropDown_pydc,
.dxEditors_edtDropDownDisabled_pydc,
.dxEditors_edtSpinEditIncrementImage_pydc,
.dxEditors_edtSpinEditIncrementImageDisabled_pydc,
.dxEditors_edtSpinEditDecrementImage_pydc,
.dxEditors_edtSpinEditDecrementImageDisabled_pydc,
.dxEditors_edtSpinEditLargeIncImage_pydc,
.dxEditors_edtSpinEditLargeIncImageDisabled_pydc,
.dxEditors_edtSpinEditLargeDecImage_pydc,
.dxEditors_edtSpinEditLargeDecImageDisabled_pydc
{
	display:block;
    margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_pydc
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_pydc
{
    margin-left: 8px;
}



.dxeButtonEditButtonHover_pydc .dxEditors_edtClear_pydc, .dxEditors_caRefresh_pydc, .dxEditors_edtBinaryImageDelete_pydc, .dxEditors_edtBinaryImageOpenDialog_pydc, .dxEditors_edtCalendarFastNavBackToPrevMode_pydc, .dxEditors_edtCalendarFastNavBackToPrevModeRtl_pydc, .dxEditors_edtCalendarFNNextPeriod_pydc, .dxEditors_edtCalendarFNNextYear_pydc, .dxEditors_edtCalendarFNPrevPeriod_pydc, .dxEditors_edtCalendarFNPrevYear_pydc, .dxEditors_edtCalendarNextMonth_pydc, .dxEditors_edtCalendarNextMonthDisabled_pydc, .dxEditors_edtCalendarNextYear_pydc, .dxEditors_edtCalendarNextYearDisabled_pydc, .dxEditors_edtCalendarPrevMonth_pydc, .dxEditors_edtCalendarPrevMonthDisabled_pydc, .dxEditors_edtCalendarPrevYear_pydc, .dxEditors_edtCalendarPrevYearDisabled_pydc, .dxEditors_edtClear_pydc, .dxEditors_edtDETSClockFace_pydc, .dxEditors_edtDETSHourHand_pydc, .dxEditors_edtDETSMinuteHand_pydc, .dxEditors_edtDETSSecondHand_pydc, .dxEditors_edtDropDown_pydc, .dxEditors_edtDropDownDisabled_pydc, .dxEditors_edtEllipsis_pydc, .dxEditors_edtEllipsisDisabled_pydc, .dxEditors_edtError_pydc, .dxEditors_edtListBoxFilterBtn_pydc, .dxEditors_edtListBoxFilterBtnDisabled_pydc, .dxEditors_edtListBoxHideFilterBtn_pydc, .dxEditors_edtListBoxHideFilterBtnDisabled_pydc, .dxEditors_edtListBoxHideFilterBtnRtl_pydc, .dxEditors_edtListBoxHideFilterBtnRtlDisabled_pydc, .dxEditors_edtRadioButtonChecked_pydc, .dxEditors_edtRadioButtonCheckedDisabled_pydc, .dxEditors_edtRadioButtonUnchecked_pydc, .dxEditors_edtRadioButtonUncheckedDisabled_pydc, .dxEditors_edtSpinEditDecrementImage_pydc, .dxEditors_edtSpinEditDecrementImageDisabled_pydc, .dxEditors_edtSpinEditIncrementImage_pydc, .dxEditors_edtSpinEditIncrementImageDisabled_pydc, .dxEditors_edtSpinEditLargeDecImage_pydc, .dxEditors_edtSpinEditLargeDecImageDisabled_pydc, .dxEditors_edtSpinEditLargeIncImage_pydc, .dxEditors_edtSpinEditLargeIncImageDisabled_pydc, .dxEditors_edtTBDecBtn_pydc, .dxEditors_edtTBDecBtnDisabled_pydc, .dxEditors_edtTBDecBtnHover_pydc, .dxEditors_edtTBDecBtnPressed_pydc, .dxEditors_edtTBIncBtn_pydc, .dxEditors_edtTBIncBtnDisabled_pydc, .dxEditors_edtTBIncBtnHover_pydc, .dxEditors_edtTBIncBtnPressed_pydc, .dxEditors_edtTokenBoxTokenRemoveButton_pydc, .dxEditors_edtTokenBoxTokenRemoveButtonDisabled_pydc, .dxEditors_fcadd_pydc, .dxEditors_fcaddhot_pydc, .dxEditors_fcoptypefield_pydc, .dxEditors_fcoptypefieldhot_pydc, .dxEditors_fcoptypevalue_pydc, .dxEditors_fcoptypevaluehot_pydc, .dxEditors_fcremove_pydc, .dxEditors_fcremovehot_pydc, .dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_pydc, .dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_pydc, .dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_pydc, .dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_pydc, .dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_pydc, .dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_pydc, .dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_pydc, .dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_pydc, .dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_pydc, .dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_pydc, .dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_pydc, .dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_pydc, .dxeTBHSys .dxEditors_edtTBMainDH_pydc, .dxeTBHSys .dxEditors_edtTBMainDHDisabled_pydc, .dxeTBHSys .dxEditors_edtTBMainDHHover_pydc, .dxeTBHSys .dxEditors_edtTBMainDHPressed_pydc, .dxeTBHSys .dxEditors_edtTBSecondaryDH_pydc, .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_pydc, .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_pydc, .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_pydc, .dxeTBVSys .dxEditors_edtTBMainDH_pydc, .dxeTBVSys .dxEditors_edtTBMainDHDisabled_pydc, .dxeTBVSys .dxEditors_edtTBMainDHHover_pydc, .dxeTBVSys .dxEditors_edtTBMainDHPressed_pydc, .dxeTBVSys .dxEditors_edtTBSecondaryDH_pydc, .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_pydc, .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_pydc, .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_pydc { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxeButtonEditButtonHover_pydc .dxEditors_edtClear_pydc { background-position: -462px -86px; width: 13px; height: 13px } 
.dxEditors_caRefresh_pydc { background-position: -225px 0px; width: 25px; height: 25px } 
.dxEditors_edtBinaryImageDelete_pydc { background-position: -157px 0px; width: 32px; height: 32px } 
.dxEditors_edtBinaryImageOpenDialog_pydc { background-position: -191px 0px; width: 32px; height: 32px } 
.dxEditors_edtCalendarFastNavBackToPrevMode_pydc { background-position: -462px -56px; width: 13px; height: 13px } 
.dxEditors_edtCalendarFastNavBackToPrevModeRtl_pydc { background-position: -462px -71px; width: 13px; height: 13px } 
.dxEditors_edtCalendarFNNextPeriod_pydc { background-position: -475px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarFNNextYear_pydc { background-position: -483px 0px; width: 19px; height: 18px } 
.dxEditors_edtCalendarFNPrevPeriod_pydc { background-position: -504px 0px; width: 19px; height: 18px } 
.dxEditors_edtCalendarFNPrevYear_pydc { background-position: -517px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarNextMonth_pydc { background-position: -370px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarNextMonthDisabled_pydc { background-position: -496px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarNextYear_pydc { background-position: -433px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarNextYearDisabled_pydc { background-position: -454px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarPrevMonth_pydc { background-position: -391px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarPrevMonthDisabled_pydc { background-position: -412px -101px; width: 19px; height: 18px } 
.dxEditors_edtCalendarPrevYear_pydc { background-position: -462px 0px; width: 19px; height: 18px } 
.dxEditors_edtCalendarPrevYearDisabled_pydc { background-position: -349px -101px; width: 19px; height: 18px } 
.dxEditors_edtClear_pydc { background-position: -462px -41px; width: 13px; height: 13px } 
.dxEditors_edtDETSClockFace_pydc { background-position: 0px 0px; width: 119px; height: 119px } 
.dxEditors_edtDETSHourHand_pydc { background-position: -148px 0px; width: 7px; height: 70px } 
.dxEditors_edtDETSMinuteHand_pydc { background-position: -139px 0px; width: 7px; height: 70px } 
.dxEditors_edtDETSSecondHand_pydc { background-position: -130px 0px; width: 7px; height: 78px } 
.dxEditors_edtDETSSecondHand_pydc { background-position: -121px 0px \9; width: 7px \9; height: 78px \9 } 
.dxEditors_edtDropDown_pydc { background-position: -525px -71px; width: 10px; height: 13px } 
.dxEditors_edtDropDownDisabled_pydc { background-position: -525px -56px; width: 10px; height: 13px } 
.dxEditors_edtEllipsis_pydc { background-position: -525px 0px; width: 11px; height: 13px } 
.dxEditors_edtEllipsisDisabled_pydc { background-position: -525px -86px; width: 11px; height: 13px } 
.dxEditors_edtError_pydc { background-position: -178px -41px; width: 14px; height: 14px } 
.dxEditors_edtListBoxFilterBtn_pydc { background-position: 0px -121px; width: 13px; height: 13px } 
.dxEditors_edtListBoxFilterBtnDisabled_pydc { background-position: -462px -26px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtn_pydc { background-position: -15px -121px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnDisabled_pydc { background-position: -194px -42px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnRtl_pydc { background-position: -135px -121px; width: 13px; height: 13px } 
.dxEditors_edtListBoxHideFilterBtnRtlDisabled_pydc { background-position: -30px -121px; width: 13px; height: 13px } 
.dxEditors_edtRadioButtonChecked_pydc { background-position: -121px -84px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonCheckedDisabled_pydc { background-position: -155px -104px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonUnchecked_pydc { background-position: -139px -84px; width: 15px; height: 15px } 
.dxEditors_edtRadioButtonUncheckedDisabled_pydc { background-position: -121px -104px; width: 15px; height: 15px } 
.dxEditors_edtSpinEditDecrementImage_pydc { background-position: -157px -34px; width: 7px; height: 5px } 
.dxEditors_edtSpinEditDecrementImageDisabled_pydc { background-position: -194px -35px; width: 7px; height: 5px } 
.dxEditors_edtSpinEditIncrementImage_pydc { background-position: -146px -73px; width: 7px; height: 5px } 
.dxEditors_edtSpinEditIncrementImageDisabled_pydc { background-position: -203px -35px; width: 7px; height: 5px } 
.dxEditors_edtSpinEditLargeDecImage_pydc { background-position: -525px -47px; width: 5px; height: 7px } 
.dxEditors_edtSpinEditLargeDecImageDisabled_pydc { background-position: -525px -38px; width: 5px; height: 7px } 
.dxEditors_edtSpinEditLargeIncImage_pydc { background-position: -139px -75px; width: 5px; height: 7px } 
.dxEditors_edtSpinEditLargeIncImageDisabled_pydc { background-position: -225px -32px; width: 5px; height: 7px } 
.dxEditors_edtTBDecBtn_pydc { background-position: -189px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBDecBtnDisabled_pydc { background-position: -249px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBDecBtnHover_pydc { background-position: -209px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBDecBtnPressed_pydc { background-position: -229px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBIncBtn_pydc { background-position: -329px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBIncBtnDisabled_pydc { background-position: -289px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBIncBtnHover_pydc { background-position: -269px -101px; width: 18px; height: 18px } 
.dxEditors_edtTBIncBtnPressed_pydc { background-position: -309px -101px; width: 18px; height: 18px } 
.dxEditors_edtTokenBoxTokenRemoveButton_pydc { background-position: -138px -104px; width: 15px; height: 15px } 
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_pydc { background-position: -172px -104px; width: 15px; height: 15px } 
.dxEditors_fcadd_pydc { background-position: -120px -121px; width: 13px; height: 13px } 
.dxEditors_fcaddhot_pydc { background-position: -105px -121px; width: 13px; height: 13px } 
.dxEditors_fcoptypefield_pydc { background-position: -75px -121px; width: 13px; height: 13px } 
.dxEditors_fcoptypefieldhot_pydc { background-position: -90px -121px; width: 13px; height: 13px } 
.dxEditors_fcoptypevalue_pydc { background-position: -252px -26px; width: 13px; height: 13px } 
.dxEditors_fcoptypevaluehot_pydc { background-position: -60px -121px; width: 13px; height: 13px } 
.dxEditors_fcremove_pydc { background-position: -209px -42px; width: 13px; height: 13px } 
.dxEditors_fcremovehot_pydc { background-position: -45px -121px; width: 13px; height: 13px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_pydc { background-position: -432px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_pydc { background-position: -282px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_pydc { background-position: -417px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_pydc { background-position: -252px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_pydc { background-position: -447px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_pydc { background-position: -402px 0px; width: 13px; height: 19px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_pydc { background-position: -157px -86px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_pydc { background-position: -225px -41px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_pydc { background-position: -157px -41px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_pydc { background-position: -225px -86px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_pydc { background-position: -252px -41px; width: 19px; height: 13px } 
.dxeFocused_pydc .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_pydc { background-position: -199px -57px; width: 19px; height: 13px } 
.dxeTBHSys .dxEditors_edtTBMainDH_pydc { background-position: -312px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_pydc { background-position: -357px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBMainDHHover_pydc { background-position: -342px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_pydc { background-position: -327px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDH_pydc { background-position: -267px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_pydc { background-position: -387px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_pydc { background-position: -297px 0px; width: 13px; height: 19px } 
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_pydc { background-position: -372px 0px; width: 13px; height: 19px } 
.dxeTBVSys .dxEditors_edtTBMainDH_pydc { background-position: -157px -56px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_pydc { background-position: -225px -56px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHHover_pydc { background-position: -157px -71px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBMainDHPressed_pydc { background-position: -178px -57px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDH_pydc { background-position: -252px -86px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_pydc { background-position: -252px -56px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_pydc { background-position: -225px -71px; width: 19px; height: 13px } 
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_pydc { background-position: -252px -71px; width: 19px; height: 13px } 
.dxeTBHSys .dxEditors_edtTBMainDHPressed_pydc,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_pydc
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_pydc,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_pydc
{
	z-index: 7;
}
.dxEditors_edtError_pydc,
.dxEditors_edtCalendarPrevYear_pydc,
.dxEditors_edtCalendarPrevYearDisabled_pydc,
.dxEditors_edtCalendarPrevMonth_pydc,
.dxEditors_edtCalendarPrevMonthDisabled_pydc,
.dxEditors_edtCalendarNextMonth_pydc,
.dxEditors_edtCalendarNextMonthDisabled_pydc,
.dxEditors_edtCalendarNextYear_pydc,
.dxEditors_edtCalendarNextYearDisabled_pydc,
.dxEditors_edtCalendarFNPrevYear_pydc,
.dxEditors_edtCalendarFNNextYear_pydc,
.dxEditors_edtCalendarFNPrevPeriod_pydc,
.dxEditors_edtCalendarFNNextPeriod_pydc,
.dxEditors_edtEllipsis_pydc,
.dxEditors_edtEllipsisDisabled_pydc,
.dxEditors_edtDropDown_pydc,
.dxEditors_edtDropDownDisabled_pydc,
.dxEditors_edtSpinEditIncrementImage_pydc,
.dxEditors_edtSpinEditIncrementImageDisabled_pydc,
.dxEditors_edtSpinEditDecrementImage_pydc,
.dxEditors_edtSpinEditDecrementImageDisabled_pydc,
.dxEditors_edtSpinEditLargeIncImage_pydc,
.dxEditors_edtSpinEditLargeIncImageDisabled_pydc,
.dxEditors_edtSpinEditLargeDecImage_pydc,
.dxEditors_edtSpinEditLargeDecImageDisabled_pydc
{
	display:block;
    margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_pydc
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_pydc
{
    margin-left: 8px;
}



