
.dxHtmlEditor_heConstrainProportionsBottom_pydc, .dxHtmlEditor_heConstrainProportionsBottomRtl_pydc, .dxHtmlEditor_heConstrainProportionsMiddleOff_pydc, .dxHtmlEditor_heConstrainProportionsMiddleOffRtl_pydc, .dxHtmlEditor_heConstrainProportionsMiddleOn_pydc, .dxHtmlEditor_heConstrainProportionsMiddleOnRtl_pydc, .dxHtmlEditor_heConstrainProportionsTop_pydc, .dxHtmlEditor_heConstrainProportionsTopRtl_pydc, .dxHtmlEditor_heEnumIcon_pydc, .dxHtmlEditor_heErrorFrameCloseButton_pydc, .dxHtmlEditor_heEventIcon_pydc, .dxHtmlEditor_heFieldIcon_pydc, .dxHtmlEditor_heReset_pydc, .dxHtmlEditor_heSizeGrip_pydc, .dxHtmlEditor_heSizeGripRtl_pydc, .dxHtmlEditor_heTagInspectorChangeButton_pydc, .dxHtmlEditor_heTagInspectorRemoveButton_pydc, .dxHtmlEditor_heTagInspectorSeparator_pydc, .dxHtmlEditor_heToolbarPopOut_pydc, .dxHtmlEditor_heXmlItemIcon_pydc { background-image: url('sprite.png'); background-repeat: no-repeat; background-color: transparent } 
.dxHtmlEditor_heConstrainProportionsBottom_pydc { background-position: -239px 0px; width: 11px; height: 6px } 
.dxHtmlEditor_heConstrainProportionsBottomRtl_pydc { background-position: -252px 0px; width: 11px; height: 6px } 
.dxHtmlEditor_heConstrainProportionsMiddleOff_pydc { background-position: -77px 0px; width: 11px; height: 18px } 
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_pydc { background-position: -64px 0px; width: 11px; height: 18px } 
.dxHtmlEditor_heConstrainProportionsMiddleOn_pydc { background-position: -103px 0px; width: 11px; height: 18px } 
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_pydc { background-position: -90px 0px; width: 11px; height: 18px } 
.dxHtmlEditor_heConstrainProportionsTop_pydc { background-position: -265px 0px; width: 11px; height: 5px } 
.dxHtmlEditor_heConstrainProportionsTopRtl_pydc { background-position: -278px 0px; width: 11px; height: 5px } 
.dxHtmlEditor_heEnumIcon_pydc { background-position: -134px 0px; width: 16px; height: 16px } 
.dxHtmlEditor_heErrorFrameCloseButton_pydc { background-position: -218px 0px; width: 13px; height: 9px } 
.dxHtmlEditor_heEventIcon_pydc { background-position: -152px 0px; width: 16px; height: 16px } 
.dxHtmlEditor_heFieldIcon_pydc { background-position: -170px 0px; width: 16px; height: 16px } 
.dxHtmlEditor_heReset_pydc { background-position: 0px 0px; width: 20px; height: 20px } 
.dxHtmlEditor_heSizeGrip_pydc { background-position: -188px 0px; width: 13px; height: 13px } 
.dxHtmlEditor_heSizeGripRtl_pydc { background-position: -203px 0px; width: 13px; height: 13px } 
.dxHtmlEditor_heTagInspectorChangeButton_pydc { background-position: -43px 0px; width: 19px; height: 19px } 
.dxHtmlEditor_heTagInspectorRemoveButton_pydc { background-position: -22px 0px; width: 19px; height: 19px } 
.dxHtmlEditor_heTagInspectorSeparator_pydc { background-position: -233px 0px; width: 4px; height: 7px } 
.dxHtmlEditor_heToolbarPopOut_pydc { background-position: -291px 0px; width: 7px; height: 4px } 
.dxHtmlEditor_heXmlItemIcon_pydc { background-position: -116px 0px; width: 16px; height: 16px } 
.dxHtmlEditor_heConstrainProportionsMiddleOn_pydc,
.dxHtmlEditor_heConstrainProportionsMiddleOff_pydc,
.dxHtmlEditor_heConstrainProportionsBottom_pydc,
.dxHtmlEditor_heConstrainProportionsTop_pydc,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_pydc,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_pydc,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_pydc,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_pydc,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_pydc,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_pydc,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_pydc,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_pydc,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_pydc,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_pydc
{
	display:block;
}


