/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_pydc
{
    background: White;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxheLoadingPanel_pydc
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #201f35;
    background-color: White;
    border: 1px solid #9da0aa;
}
.dxheLoadingPanel_pydc td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 7px 10px;
}
.dxheLoadingPanel_pydc .dxlp-loadingImage,
.dxheDesignViewArea_pydc .dx-base64img-wrapper:after
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
}
.dx-acc-r.dxheLoadingPanel_pydc .dxlp-loadingImage:before
{
    content: url('../Web/Loading.gif');
}
.dxheDesignViewArea_pydc .dx-base64img-wrapper:after
{
    margin: -16px 0px 0px -16px;
}
.dxheControl_pydc
{
    border: 1px solid #9da0aa;
    font: 11px Verdana, Geneva, sans-serif;
}
/* Area */
.dxheContentArea_pydc
{
    padding: 0;
    background-color: #ebecef;
}
.dxheErrorFrame_pydc
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #D00707;
    background-color: #fbc7c7;
    border-bottom: solid 1px #dec0c0;
}
.dxheControl_pydc .dxeMemo_pydc .dxheErrorFrame_pydc .dxhe,
.dxheControl_pydc.dxhe-rtl .dxeMemo_pydc .dxheErrorFrame_pydc .dxhe,
.dxheErrorFrame_pydc .dxhe
{
    padding: 5px;
}
.dxheControl_pydc .dxeMemo_pydc .dxheErrorFrame_pydc .dxhe td,
.dxheControl_pydc.dxhe-rtl .dxeMemo_pydc .dxheErrorFrame_pydc .dxhe td,
.dxheErrorFrame_pydc .dxhe td
{
    padding: 0px;
}
.dxheErrorFrame_pydc .dxheErrorFrameCloseButton_pydc
{
    cursor: pointer;
}
.dxheControl_pydc .dxheViewArea_pydc
{
    border-width: 0;
}
.dxheContentArea_pydc td.dxheViewArea_pydc
{
    line-height: 0;
}
.dxheContentArea_pydc td.dxheViewArea_pydc.dxheHtmlViewArea_pydc
{
    line-height: inherit;
}
.dxheDesignViewArea_pydc,
.dxhePreviewArea_pydc
{
    background-color: #FFFFFF;
}
.dxheControl_pydc .dxheHtmlViewArea_pydc,
body.dxheDesignViewArea_pydc,
body.dxhePreviewArea_pydc
{
    margin: 0px;
    background-color: White;
    background-image: none;
    font-size: smaller;
    font: 12px Arial, Helvetica, sans-serif;
}
.dxheControl_pydc .dxeMemo_pydc.dxheHtmlViewArea_pydc .dxeMemoEditArea_pydc,
body.dxheDesignViewArea_pydc,
body.dxhePreviewArea_pydc
{
    padding: 15px 20px 0 20px;
}
.dxheControl_pydc .dxeMemo_pydc.dxheHtmlViewArea_pydc td
{
    padding: 0 40px 0 0;
}
.dxheControl_pydc.dxhe-rtl .dxheContentArea_pydc .dxeMemo_pydc.dxheHtmlViewArea_pydc td
{
    padding: 0 0 0 40px;
}
.dxheControl_pydc .dxeMemo_pydc textarea
{
    resize: none;
}
.dxheControl_pydc input.dxeEditArea_pydc
{
    padding-bottom: 0px;
    margin-top: -1px;
}
.dxheControl_pydc td.dxheDesignViewArea_pydc .dxm-main.dxmtb
{
    border: 1px solid #9da0aa;
}
.dxheControl_pydc td.dxheDesignViewArea_pydc
{
    position: relative;
}
td.dxheDesignViewArea_pydc .dxmLite_pydc
{
    position: absolute;
    right: 0;
    padding-top: 5px;
    padding-right: 22px;
}
td.dxheDesignViewArea_pydc .dxmLite_pydc.dxm-rtl
{
    right: inherit;
    padding-right: 0px;
    padding-left: 5px;
}
.dxheViewArea_pydc .dxheAudio
{
    background-image: url('dxheAudio.png');
}
.dxheViewArea_pydc .dxheFlash
{
    background-image: url('dxheFlash.png');
}
.dxheViewArea_pydc .dxheVideo
{
    background-image: url('dxheVideo.png');
}
.dxheViewArea_pydc .dxheYoutube
{
    background-image: url('dxheYoutube.png');
}
.dxheViewArea_pydc img.dxheNotSupported
{
    background-image: url('dxheNotSupported.png');
}
.dxheViewArea_pydc img.dxheAudio,
.dxheViewArea_pydc img.dxheFlash,
.dxheViewArea_pydc img.dxheVideo,
.dxheViewArea_pydc img.dxheYoutube,
.dxheViewArea_pydc img.dxheNotSupported
{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cfcfcf;
    border: 1px dotted #FFFFFF;
    opacity: 0.8;
}
.dxheViewArea_pydc .dxhePlaceholder
{
    cursor: default;
    white-space: nowrap;
}
.dxheViewArea_pydc.dxheDesignViewArea_pydc .dxheSelected
{
    background-color: #E9DEF3;
}
.dxhe-insertPlaceholder .dxeListBox_pydc.dxeFocused_pydc
{
    border: 1px solid #C2C4CB;
}
.dxpc-contentWrapper .dxflFormLayout_pydc.dxhe-insertPlaceholder .dxflGroup_pydc .dxflGroupBox_pydc
{
    padding: 0 0 6px 0;
    margin: 0;
}
.dxpc-contentWrapper .dxflFormLayout_pydc.dxhe-insertPlaceholder .dxflGroup_pydc .dxflGroupBox_pydc .dxflListBoxItemSys
{
    padding-top: 0;
}
.dxhe-insertPlaceholder .dxflGroup_pydc .dxhe-dialogLI.dxhe-dialogButtonsContainer
{
    padding-top: 10px;
}
.dxhe-insertPlaceholder .dxeListBox_pydc,
.dxhe-insertPlaceholder .dxeListBox_pydc .dxlbd
{
    width: 220px;
    height: 190px;
}
/* CodeMirror */
.dxheHtmlViewArea_pydc .CodeMirror-activeline-background
{
    background: #eff0f2;
}
.dxheHtmlViewArea_pydc .CodeMirror-foldgutter-open::after
{
    content: url('heFoldGutterOpen.png');
}
.dxheHtmlViewArea_pydc .CodeMirror-foldgutter-folded::after
{
    content: url('heFoldGutterFolded.png');
}
.dxheHtmlViewArea_pydc .CodeMirror-foldmarker::after
{
    content: url('dxheFoldMarker.png');
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_pydc table.dxEmptyBorderTable,
body.dxheDesignViewArea_pydc table.dxEmptyBorderTable td
{
    border: 1px dotted Gray;
}
@media print
{
    body.dxheDesignViewArea_pydc table.dxEmptyBorderTable,
    body.dxheDesignViewArea_pydc table.dxEmptyBorderTable td
    {
        border: 0px;
    }
}
body.dxheDesignViewArea_pydc
{
    word-wrap: inherit;
}
body.dxheDesignViewArea_pydc pre
{
    word-wrap: break-word;
    white-space: pre-wrap;
}
/* Status Bar */
.dxheStatusBar_pydc .dxheStatusBarTab_pydc
{
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}
.dxheControl_pydc.dxhe-rtl .dxheStatusBar_pydc .dxheStatusBarTab_pydc
{
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-width: 0 !important;
}
.dxheControl_pydc .dxheStatusBar_pydc .dxheStatusBarTab_pydc .dxtc-link
{
    padding: 4px 35px 5px 34px;
}
.dxHtmlEditor_heSizeGrip_pydc
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_pydc
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_pydc
{
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -13px;
}
.dxheControl_pydc.dxhe-rtl .dxheSizeGripContainer_pydc
{
    text-align: left;
}
.dxheStatusBar_pydc .dxtc-bottom .dxtc-tab
{
    background: #f1f2f6 url('SBTabBack.png') repeat-x left top;
}
.dxheStatusBar_pydc .dxtc-bottom .dxtc-tabHover
{
    background: #f7f9fe url('SBTabHoverBack.png') repeat-x left top;
}
.dxheStatusBar_pydc .dxtc-rightIndent
{
    background: #f1f2f6 url('SBTabBack.png') repeat-x left top;
}
/* ----------------- Dialog Forms ----------------- */
.dxpcLite_pydc .dxheDlgFooter,
.dxpcLite_pydc .dxheCustomDialog_pydc .dxhecd-Buttons
{
    background-color: #ebecef;
    border-top: 1px solid #abacb9;
    padding: 10px 11px;
    text-align: right;
}
.dxpcLite_pydc.dxRtl .dxheDlgFooter,
.dxpcLite_pydc.dxRtl .dxheCustomDialog_pydc .dxhecd-Buttons
{
    text-align: left;
}
.dxpcLite_pydc .dxheDlgFooterBtn
{
    width: 80px;
    margin-left: 8px;
}
.dxpcLite_pydc.dxRtl .dxheDlgFooterBtn
{
    margin-right: 8px;
    margin-left: 0;
}
.dxpcLite_pydc .dxheDlgInsertImageForm .dxheDlgImagePreviewCell
{
    color: #737373;
    border: 1px dashed #cac8c8;
}
.dxpcLite_pydc .dxheDlgPasteFromWordForm .dxheDlgPasteContainerCell td
{
    border: 1px solid #9da0aa;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_pydc
{
    height: 1px;
}
.dxtbControl_pydc
{
    color: #201f35;
    background: #f1f2f6 url('ToolbarBack.png') no-repeat right top;
    width: 100%;
    border-bottom: 1px solid #9da0aa;
}
.dxheControl_pydc.dxhe-rtl .dxtbControl_pydc
{
    background: #f1f2f6 url('ToolbarBackRtl.png') no-repeat left top;
}
.dxtbControl_pydc td.dxmMenu_pydc
{
    border: 0;
}
.dxtbComboBoxMenuItem_pydc
{
    padding: 2px 2px 1px;
}
.dxheControl_pydc .dxrControl_pydc
{
    background: #f1f2f6 url('ToolbarBack.png') no-repeat right top;
}
.dxheControl_pydc .dxrControl_pydc .dxtcLite_pydc .dxtc-stripContainer .dxtc-spacer,
.dxheControl_pydc .dxrControl_pydc .dxtcLite_pydc.dxtc-top .dxtc-leftIndent
{
    width: 3px;
}
.dxheControl_pydc .dxrControl_pydc .dxr-tabContent
{
    border-width: 0 0 1px 0;
}
.dxheControl_pydc .dxrControl_pydc .dxr-minBtn
{
    padding-right: 8px;
}
.dxheControl_pydc .dxtbControl_pydc.dxtbr_pydc,
.dxheControl_pydc .dxrControl_pydc .dxpc-mainDiv.dxr-minPopup
{
    border: 0;
}
/* Toolbars Lightweight Mode */
.dxtbControl_pydc .dxmLite_pydc .dxm-main
{
    border-width: 0;
}
.dxmLite_pydc .dxhetipControl_pydc img
{
    vertical-align: top;
}
/* ToolbarColorButton */
.dxtcbControl_pydc
{
    margin-top: -1px;
}
.dxtcbColorDiv_pydc
{
    width: 16px;
    height: 3px;
    font-size: 0;
    background-color: Transparent;
    margin-top: -3px;
}
/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_pydc .dxrpcontent
{
    padding: 11px !important;
}
/* InsertMediaDialogs */
.dxflFormLayout_pydc .dxhe-dialogSettings
{
    width: 270px;
    padding-left: 16px;
}
.dxpcLite_pydc.dx-dialog.dxhe-dialog-media-popup
{
    max-width: 750px;
}
.dxflFormLayout_pydc.dxhe-mediaDialog
{
    width: 750px;
}
.dxflFormLayout_pydc.dxhe-mediaDialog .dxic-control,
.dxflFormLayout_pydc.dxhe-mediaDialog .dxhe-dialogSettings
{
    height: 450px;
}
div.dxflFormLayout_pydc.dxhe-dialog table.dxhe-dialogLG
{
    padding-left: 32px;
    padding-right: 32px;
}
div.dxflFormLayout_pydc.dxhe-dialog > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout_pydc.dxhe-dialog .dxhe-dialogButtonsContainer
{
    padding: 16px;
}
div.dxflFormLayout_pydc.dxhe-mediaDialogStyleSettings > table.dxhe-dialogLG.dxflGroupSys,
div.dxflFormLayout_pydc.dxhe-mediaDialogMainSettings > table.dxhe-dialogLG.dxflGroupSys
{
    padding: 32px;
}
/* tag inspector */
.dxheDesignViewArea_pydc .dxhe-tiSelection
{
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #2255FF;
    background-color: #0066FF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    opacity: 0.3;
}
.dxhe-intelliSenseSysWin .dxeListBox_pydc.dxeFocused_pydc
{
    border-top-color: #9da0aa;
    border-right-color: #c2c4cb;
    border-bottom-color: #d9dae0;
    border-left-color: #c2c4cb;
}
div.dxhe-searchQuick div.dxbButton_pydc,
div.dxhe-searchQuick div.dxbButton_pydc .dxb
{
    background: none !important;
    border: none !important;
}
div.dxhe-searchAdvancedButtons div.dxbButton_pydc .dxb
{
    padding: 2px 6px;
}
.dxheHtmlViewArea_pydc,
.dxheDesignViewArea_pydc,
.dxhePreviewArea_pydc
{
    border-color: #9da0aa;
}
.dxheStatusBarTab_pydc
{
    border-top-color: #9da0aa;
}
.dxheStatusBar_pydc .dxtcSys > .dxtc-stripContainer .dxtc-spacer
{
    width: 0px;
}
.dxflFormLayout_pydc.dxhe-insertTableDialog
{
    width: 475px;
}
