/* used as a border of large controls (like grids, diagram) */
/* used as a background below a page in richedit/diagram */
.dxssControl_pydc
{
    border-style: solid;
    border-width: 1px;
    border-color: #9da0aa;
    font: 11px Verdana, Geneva, sans-serif;
}
.dxssControl_pydc .dxrControl_pydc .dxr-tabContent
{
    border-left-style: none;
    border-right-style: none;
}
.dxssControl_pydc .dxrControl_pydc.dxr-oneLineMode.dxr-tabsHidden .dxr-tabContent
{
    border-top-width: 0;
}
.dxssControl_pydc .dxss-gl .dxss-v,
.dxssControl_pydc .dxss-gl .dxss-h
{
    border-color: #d9dae0;
}
.dxssControl_pydc .dxss-rowHeader
{
    border-right: 1px solid #d9dae0;
    border-top: 1px solid #d9dae0;
}
.dxssControl_pydc .dxss-colHeader
{
    border-bottom: 1px solid #d9dae0;
    border-left: 1px solid #d9dae0;
}
.dxssControl_pydc .dxss-crse
{
    background-color: #A1BCFC;
}
.dxssControl_pydc .dxss-trbe
{
    border-top-color: #a6a9b2;
}
.dxssControl_pydc .dxss-rrbe
{
    border-right-color: #a6a9b2;
}
.dxssControl_pydc .dxss-brbe
{
    border-bottom-color: #a6a9b2;
}
.dxssControl_pydc .dxss-lrbe
{
    border-left-color: #a6a9b2;
}
.dxssControl_pydc .dxss-fh
{
    background-color: #a6a9b2;
}
.dxssControl_pydc .dxss-sbe
{
    border-color: #a6a9b2;
}
.dxssControl_pydc .dxss-crs
{
    border-color: #a6a9b2;
}
.dxssControl_pydc .dxrControl_pydc .dxtcLite_pydc.dxtc-top .dxtc-leftIndent
{
    width: 3px;
}
.dxssControl_pydc .dxrControl_pydc .dxtcLite_pydc
{
    padding-bottom: 0px;
}
.dxssControl_pydc .dxtcLite_pydc,
.dxssControl_pydc .dxrControl_pydc .dxtcLite_pydc
{
    background: #f1f2f6 url('RibbonBack.png') no-repeat right top;
}
.dxssControl_pydc .dxss-hrg,
.dxssControl_pydc .dxss-vrg
{
    background-color: #a6a9b2;
}
.dxssControl_pydc .dxtcLite_pydc.dxtc-bottom .dxtc-stripContainer
{
    padding: 0 !important;
}
.dxssControl_pydc .dxtcLite_pydc .dxtc-stripContainer .dxtc-leftIndent
{
    width: 0;
}
.dxssControl_pydc .dxtcLite_pydc.dxtc-bottom .dxtc-stripContainer .dxtc-tab,
.dxssControl_pydc .dxtcLite_pydc.dxtc-bottom .dxtc-stripContainer .dxtc-activeTab
{
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}
.dxssControl_pydc .dxtcLite_pydc.dxtc-bottom .dxtc-stripContainer .dxtc-link
{
    padding: 4px 35px 5px 34px;
}
.dxssControl_pydc .dxtcLite_pydc.dxtc-bottom .dxtc-stripContainer .dxtc-spacer
{
    width: 0px;
}
.dxssControl_pydc .dxrControl_pydc .dxr-minBtn
{
    padding-right: 7px;
}
.dxssControl_pydc .dxss-tse
{
    border-color: #a6a9b2;
}
.dxssControl_pydc .dxss-tre
{
    background: url('TouchResize.png');
}
.dxssControl_pydc .dxss-ddp,
.dxssControl_pydc .dxss-ddb
{
    border: 1px solid #c2c4cb;
}
.dxssControl_pydc .dxss-ddp tr:hover
{
    background-color: #e2eafd;
}
/* Loading panel */
.dxssLoadingDiv_pydc
{
    background: White;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxssLoadingPanel_pydc
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #201f35;
    background-color: White;
    border: 1px solid #9da0aa;
}
.dxssLoadingPanel_pydc td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 7px 10px;
}
.dxssLoadingPanel_pydc .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
}
/* DX Spreadsheet Cell Editor Element, Formula Bar, IntelliSense elements */
.dxssControl_pydc .dxss-ctve
{
    border: 2px solid #a6a9b2;
    /*the same -dxss-cfe */
}
.dxssControl_pydc .dxss-fb
{
    height: 21px;
    padding: 10px;
    border-bottom: 1px solid #9da0aa;
}
.dxFirefox .dxssControl_pydc .dxss-fb
{
    height: 23px;
}
.dxssControl_pydc .dxss-fbw
{
    border-top: 1px solid #9da0aa;
    border-right: 1px solid #c2c4cb;
    border-bottom: 1px solid #d9dae0;
    border-left: 1px solid #c2c4cb;
    background-color: white;
}
.dxssControl_pydc .dxmLite_pydc .dxss-fbMenu
{
    height: 21px;
    border: 0;
    background-color: transparent;
    background-image: none;
}
.dxssControl_pydc .dxss-fbMenu .dxm-content
{
    padding-top: 2px !important;
}
.dxssControl_pydc .dxss-hint
{
    border: 1px solid #A8A8A8;
    background-color: #FDFEFE;
    padding: 3px 8px 4px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFEFE', endColorstr='#EEEFF2');
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFEFE), to(#EEEFF2));
    background: -moz-linear-gradient(top, #FDFEFE, #EEEFF2);
}
.dxssControl_pydc .dxss-hint.dxss-funcInfo
{
    margin-left: 10px;
    margin-right: 10px;
}
.dxssControlSys .dxmLite_pydc .dxm-popup .dxm-checked img[class*="ssRibbonIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_pydc .dxm-popup .dxm-checked img[class*="ssRibbonIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_pydc .dxm-popup .dxm-checked img[class*="ssRibbonIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_pydc .dxm-popup .dxm-checked span[class*="ssRibbonIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_pydc .dxm-popup .dxm-checked span[class*="ssRibbonIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_pydc .dxm-popup .dxm-checked span[class*="ssRibbonIcons_PageMarginsNarrow"]
{
    margin-top: 2px !important;
}
.dxssControlSys .dxmLite_pydc .dxm-popup img[class*="ssRibbonIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_pydc .dxm-popup img[class*="ssRibbonIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_pydc .dxm-popup img[class*="ssRibbonIcons_PageMarginsNarrow"],
.dxssControlSys .dxmLite_pydc .dxm-popup span[class*="ssRibbonIcons_PageMarginsNormal"],
.dxssControlSys .dxmLite_pydc .dxm-popup span[class*="ssRibbonIcons_PageMarginsWide"],
.dxssControlSys .dxmLite_pydc .dxm-popup span[class*="ssRibbonIcons_PageMarginsNarrow"]
{
    margin-top: 4px !important;
}
.dxflGroup_pydc.dxssFCDescription
{
    height: 64px;
    padding-top: 4px !important;
}
/* Cell Editing */
.dxssControl_pydc.icbem .dxss-inputTarget
{
    border: 2px solid #a6a9b2;
}
/*Cell position hint*/
.dxssControl_pydc .dxss-cell-pos-hint
{
    background-color: #a6a9b2;
    color: white;
}
.dxrControl_pydc .dxssRibbonCBSmall
{
    width: 60px;
}
.dxrControl_pydc .dxssRibbonCBLarge
{
    width: 130px;
}
/* --------------Select-All----------------- */
.dxssControl_pydc .dxss-ssbi
{
    border-color: transparent;
    border-bottom-color: #cecece;
}
.dxssControl_pydc .dxss-ssb:hover .dxss-ssbi
{
    border-bottom-color: #a8a8a8;
}
/* ----------Add-Sheet-Button---------------*/
.dxssControl_pydc .dxss-ast-btn:before,
.dxssControl_pydc .dxss-ast-btn:after
{
    background-color: #a9aab1;
}
.dxssControl_pydc .dxss-ast-circle:hover .dxss-ast-btn:before,
.dxssControl_pydc .dxss-ast-circle:hover .dxss-ast-btn:after
{
    background-color: #1f1e34;
}
.dxssControl_pydc .dxss-ast
{
    border-top: 1px solid #9da0aa;
}
/* --------------Dialogs----------------- */
.dxssControl_pydc .dxss-dialogSimpleFooterGroup,
.dxssControl_pydc .dxss-dialogFooter
{
    background-color: #ebecef;
    border-top: 1px #a8aab4 solid;
}
.dxssControl_pydc .dxss-dialog .dxss-imagePreviewCell
{
    color: #737373;
    border: dashed 1px #cac8c8;
}
.dxssControl_pydc .dxss-pageSetupForm .dxss-CustomHFButton
{
    min-width: 130px;
}
/*---------Change-Chart-Style-Dialog-------*/
.dxss-modifyChartStyleContent .dxbButtonHover_pydc
{
    color: #201f35;
    background: #dde6fe url('../Editors/edtBtnHBack.png') repeat-x left top;
    border: 1px solid #a9acb5;
}
.dxss-modifyChartStyleContent .dxbButtonChecked_pydc
{
    color: #3c3c3c;
    background: #dbdde2 url('../Editors/edtBtnPBack.png') repeat-x left top;
    border: 1px solid #9da0aa;
}
.dxss-modifyChartStyleContent .dxbButtonPressed_pydc
{
    color: #3c3c3c;
    background: #dbdde2 url('../Editors/edtBtnPBack.png') repeat-x left top;
    border: 1px solid #9da0aa;
}
/*---------Change-Table-Style-Dialog-------*/
@media (max-width: 400px)
{
    .dxssControl_pydc .dxss-modifyTableStyleForm .dxss-dialogSimpleContentGroup
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    .dxssControl_pydc .dxss-modifyTableStyleForm .dxtcLite_pydc.dxtc-left > .dxtc-stripContainer .dxtc-link
    {
        padding-left: 6px;
        padding-right: 5px;
    }
    .dxssControl_pydc .dxss-modifyTableStyleForm .dxtcLite_pydc > .dxtc-content
    {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}
.dxss-modifyChartStyleContent .dxbButton_pydc div.dxb
{
    padding-left: 3px;
    padding-right: 3px;
}
.dxss-modifyChartStyleContent .dxbButton_pydc div.dxbf
{
    padding-left: 2px;
    padding-right: 2px;
}
/*-----Filter-Dialogs-----*/
.dxss-dataFilterSimpleForm .dxbButton_pydc div.dxb
{
    padding-left: 5px;
    padding-right: 5px;
}
/***Data*Validation***/
.dxss-dataValidationForm .dxtcLite_pydc .dxss-dvContent
{
    min-height: 240px;
}
.dxss-dataValidationForm .dxtcLite_pydc .dxss-dvSettingsContent
{
    min-height: 209px;
}
@media (max-width: 400px)
{
    .dxss-dataValidationForm .dxss-dvDescriptionRow .dxeBase_pydc .dxichCellSys,
    .dxss-dataValidationForm .dxss-dvApplyChanges .dxeBase_pydc .dxichCellSys
    {
        vertical-align: top;
        padding-top: 0px;
    }
}
/****PivotTables*****/
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-pt-filters,
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-pt-rows,
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-pt-columns,
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-pt-values
{
    background-position-y: 4px;
}
.dxssControlSys .dxss-pivotTableLabelFilterForm .dxss-dialogContentGroup .dxss-pivot-filterOperator .dxeButtonEditButton_pydc,
.dxssControlSys .dxss-pivotTableValueFilterForm .dxss-dialogContentGroup .dxss-pivot-filterOperator .dxeButtonEditButton_pydc,
.dxssControlSys .dxss-pivotTableValueFilterForm .dxss-dialogContentGroup .dxss-pivot-filterField .dxeButtonEditButton_pydc,
.dxssControlSys .dxss-pivotTableDateFilterForm .dxss-dialogContentGroup .dxss-pivot-filterOperator .dxeButtonEditButton_pydc,
.dxssControlSys .dxss-pivotTableTop10FilterForm .dxss-dialogContentGroup .dxss-pivot-top10DropDown .dxeButtonEditButton_pydc
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.dxssControl_pydc .dxss-pivotTableLabelFilterForm .dxss-dialogContentGroup .dxss-filter-value .dxeEditAreaSys,
.dxssControl_pydc .dxss-pivotTableValueFilterForm .dxss-dialogContentGroup .dxss-filter-value .dxeEditAreaSys
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.dxssControl_pydc .dxss-pivotTableTop10FilterForm .dxss-dialogContentGroup .dxss-pivot-top10Spin .dxeSpinIncButton_pydc
{
    padding-top: 4px;
}
.dxssControl_pydc .dxss-pivotTableTop10FilterForm .dxss-dialogContentGroup .dxss-pivot-top10Spin .dxeSpinDecButton_pydc
{
    padding-bottom: 4px;
}
/****PivotTable*FieldList****/
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxeListBoxItemSelected_pydc
{
    background-color: transparent;
}
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxss-selected.dxeListBoxItemSelected_pydc,
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxss-selected
{
    color: #201f35;
    background: #eff0f2 none;
}
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxeListBoxItemSelected_pydc.dxeListBoxItemHover_pydc,
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-dialogContentGroup .dxss-fieldlist-source .dxss-selected.dxeListBoxItemHover_pydc
{
    color: #201f35;
    background: #e2eafd none;
}
.dxssControl_pydc .dxss-pivotfieltlist-item,
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-pt-filters .dxeListBoxItemSelected_pydc .dxss-pivotfieltlist-item,
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-pt-columns .dxeListBoxItemSelected_pydc .dxss-pivotfieltlist-item,
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-pt-rows .dxeListBoxItemSelected_pydc .dxss-pivotfieltlist-item,
.dxssControl_pydc .dxss-pivotTableFieldListForm .dxss-pt-values .dxeListBoxItemSelected_pydc .dxss-pivotfieltlist-item,
.dxssControl_pydc .dxss-selected .dxss-pivotfieltlist-item
{
    background-image: url('ColumnDrag.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18px;
    height: 18px;
    background-position: 0px 0px;
}
